{% comment %}
    Renders an article card for a given blog with settings to either show the image or not.

    Accepts:
    - blog: {Object} Blog object
    - article: {Object} Article object
    - show_image: {String} The setting either show the article image or not. If it's not included it will show the image by default

    Usage:
    {% render 'article-card' blog: blog, article: article, show_image: section.settings.show_image %}
{% endcomment %}

<article
    class="article-card{% if article.image == blank or show_image == false %} article-card--no-image{% endif %}"
    aria-labelledby="Article-{{ article.id }}"
>
    <div class="article-card__info">
        {%- for block in section.blocks -%}
            {%- case block.type -%}
                {%- when 'title' -%}
                    <header class="article-card__header" {{ block.shopify_attributes }}>
                        <h2 class="article-card__title h5" id="Article-{{ article.id }}">
                            <a href="{{ article.url }}">{{ article.title | escape }}</a>
                        </h2>
                    </header>
                    {%- if show_image == true and article.image -%}
                        <div class="article-card__image-wrapper">
                            {%- if block.settings.show_date -%}
                                <time
                                    class="article-card__time"
                                    datetime="{{ article.published_at | date: '%Y-%m-%dT%H:%M' }}"
                                >
                                    <span>{{ article.published_at | date: '%d' -}}</span>
                                    {{ article.published_at | date: '%b' -}}
                                </time>
                            {%- endif -%}
                            <picture class="article-card__media media__size--{{ img_size }} media">
                                <a href="{{ article.url }}" class="article-card__image--link"
                                    ><span class="hidden">{{ article.title | escape }}</span></a
                                >

                                {% render 'image', image_box: article.image, image_box_class: 'article-card____image' %}
                            </picture>
                        </div>
                    {%- endif -%}
                    {%- if article.tags.size > 0 -%}
                        <ul class="article-template__tags">
                            {%- liquid
                                assign tags_link = canonical_url
                                if tags_link contains 'tagged'
                                    assign tags_link = tags_link | split: 'tagged/'

                                    if tags_link_state != 'false'
                                        assign tags_current = tags_current | append: tags_link[1] | append: '+'
                                    endif
                                endif
                            %}

                            {% for tag in article.tags %}
                                {% unless tag contains 'state-' %}
                                    <li class="article-template__tags--item">
                                        {% if current_tags contains tag %}
                                            <span class="article-template__tags--link utility current">{{ tag }}</span>
                                        {% else %}
                                            <a
                                                class="article-template__tags--link utility"
                                                href="{{ blog.url }}/tagged/{{ tags_current }}{{ tag | handle }}"
                                            >
                                                {{- tag -}}
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endunless %}
                            {% endfor %}
                        </ul>
                    {%- endif -%}
                {%- when 'link' -%}
                    <div class="article-card__flex">
                        {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                            <p class="article-card__excerpt rte-width" {{ block.shopify_attributes }}>
                                {%- if article.excerpt.size > 0 -%}
                                    {{ article.excerpt | strip_html | truncate: 150 }}
                                {%- else -%}
                                    {{ article.content | strip_html | truncate: 150 }}
                                {%- endif -%}
                            </p>
                        {%- endif -%}
                        <div class="article-card__footer" {{ block.shopify_attributes }}>
                            <a
                                href="{{ article.url }}"
                                class="article-card__link button button--secondary"
                                aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title | escape }}"
                            >
                                {{ block.settings.label }}
                            </a>
                            {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                                <span class="article-card__comments">
                                    {%- render 'icons-svg', icons: 'bubble' -%}
                                    {{- article.comments_count -}}
                                </span>
                            {%- endif -%}
                        </div>
                    </div>
            {%- endcase -%}
        {%- endfor -%}
    </div>
</article>
