{% if article and article != empty %}
    <article
        class="card-post article-card--{{ fill }}{% if article.image == blank or show_image == false %} card-post--no-image{% endif %}"
        aria-labelledby="Article-{{ article.id }}"
    >
        {%- if article.image -%}
            <div class="card-post__image-wrapper">
                <time
                    class="card-post__time"
                    datetime="{{ article.published_at | date: '%Y-%m-%dT%H:%M' }}"
                >
                    <span>{{ article.published_at | date: '%d' -}}</span>
                    {{ article.published_at | date: '%b' -}}
                </time>
                <picture class="card-post__media media__size--{{ img_size }} media">
                    <a href="{{ article.url }}" class="card-post__image--link"
                        ><span class="hidden">{{ article.title | escape }}</span></a
                    >

                    {% render 'image', image_box: article.image, image_box_class: 'card-post____image' %}
                </picture>
            </div>
        {%- endif -%}
        <div class="card-post__info">
            {%- if article.tags.size > 0 -%}
                <ul class="card-post-template__tags">
                    {%- liquid
                        assign tags_link = canonical_url
                        if tags_link contains 'tagged'
                            assign tags_link = tags_link | split: 'tagged/'

                            if tags_link_state != 'false'
                                assign tags_current = tags_current | append: tags_link[1] | append: '+'
                            endif
                        endif
                    %}

                    {% for tag in article.tags %}
                        {% unless tag contains 'state-' %}
                            <li class="card-post__tags--item">
                                {% if current_tags contains tag %}
                                    <span class="card-post__tags--link utility current">{{ tag }}</span>
                                {% else %}
                                    <a
                                        class="card-post__tags--link utility"
                                        href="{{ blog.url }}/tagged/{{ tags_current }}{{ tag | handle }}"
                                    >
                                        {{- tag -}}
                                    </a>
                                {% endif %}
                            </li>
                        {% endunless %}
                    {% endfor %}
                </ul>
            {%- endif -%}
            <div class="card-post__flex">
                <header class="card-post__header" {{ block.shopify_attributes }}>
                    <h2 class="card-post__title h5" id="Article-{{ article.id }}">
                        <a href="{{ article.url }}">{{ article.title | escape }}</a>
                    </h2>
                </header>
                {%- if article.excerpt.size > 0 or article.content.size > 0 -%}
                    <p class="card-post__excerpt rte-width" {{ block.shopify_attributes }}>
                        {%- if article.excerpt.size > 0 -%}
                            {{ article.excerpt | strip_html | truncate: 150 }}
                        {%- else -%}
                            {{ article.content | strip_html | truncate: 150 }}
                        {%- endif -%}
                    </p>
                {%- endif -%}
                <div class="card-post__footer" {{ block.shopify_attributes }}>
                    <a
                        href="{{ article.url }}"
                        class="card-post__link button button--secondary"
                        aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title | escape }}"
                    >
                        {{ label }}
                    </a>
                    {%- if article.comments_count > 0 and blog.comments_enabled? -%}
                        <span class="card-post__comments">
                            {%- render 'icons-svg', icons: 'bubble' -%}
                            {{- article.comments_count -}}
                        </span>
                    {%- endif -%}
                </div>
            </div>
        </div>
    </article>
{% endif %}
