{% if product and product != empty %}
    {%- liquid
        assign current_variant = product.selected_or_first_available_variant
        if current_variant.featured_image != blank
            assign image_box = current_variant.featured_image
        else
            assign image_box = product.featured_image
        endif
    -%}
    <div class="card-product__wrapper js-card-product-wrapper">
        <div class="card-product__media-wrapper ">
            <picture class="card-product__media media__size--{{ img_size }} media js-card-product-media">
                {% if image_custom != blank %}
                    {% render 'image', image_box: image_custom, image_box_class: 'card-product__image' %}
                {% else %}
                    {% render 'image', image_box: image_box, image_box_class: 'card-product__image' %}
                {% endif %}
            </picture>
        </div>
        <div class="card-product__content card-product__content--{{ fill }}">
            {% if show_vendor %}
                <span class="card-product__vendor">{{ product.vendor }}</span>
            {% endif %}
            <h5 class="card-product__title js-card-product-title">
                <a href="{{ product.url | within: collection }}">
                    {{ product.title | truncate: 30 | escape }}
                </a>
            </h5>
            {% render 'price',
                product: product,
                price_class: 'card-product__price js-card-product-price',
                use_variant: use_variant
            %}

            {% if add_btn %}
                {% if btn == 'quick' %}
                    {% render 'form-collection',
                        product: product,
                        variant_type: variant_type,
                        show_quantity: show_quantity
                    %}
                {% else %}
                    <a class="button button--secondary" href="{{ product.url | within: collection }}">
                        {{- 'products.product.details' | t -}}
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}
