<div
    class="ajax-cart__line-item{% if property_discount %} main-combo-item{% endif %} js-combo-item"
    data-value="value-combo-{{value_combo}}"
    data-id="{{ item.key }}"
>
    <div class="ajax-cart-item__media">
        {% if item.image %}
            {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
            <a href="{{ item.url }}" class="ajax-cart-item__link" aria-hidden="true" tabindex="-1">
                <div class="ajax-cart-item__image-container media media__size--{{ size  }}">
                    <img
                        src="{{ item.image | image_url: width: 300 }}"
                        class="ajax-cart-item__image media__image"
                        alt="{{ item.image.alt | escape }}"
                        loading="lazy"
                        width="150"
                        height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                    >
                </div>
            </a>
        {% endif %}
    </div>
    <div class="ajax-cart-item__details">
        {% if template_cart %}
            <div class="ajax-cart-item__details--left">
        {% endif %}
        <p class="ajax-cart-caption">{{ item.product.vendor }}</p>
        <h5 class="ajax-cart-item__name">
            <a href="{{ item.url }}" class="break">
                {{- item.product.title | escape -}}
            </a>
        </h5>
        {%- if item.original_price != item.final_price -%}
            <div class="ajax-cart-item__discounted-prices {% if property_discount %} hidden{% endif %}">
                <span class="visually-hidden">
                    {{ 'sections.cart.price.regular_price' | t }}
                </span>
                <s class="ajax-cart-item__old-price product-option">
                    {{- item.original_price | money -}}
                </s>
                <span class="visually-hidden">
                    {{ 'sections.cart.price.sale_price' | t }}
                </span>
                <strong class="ajax-cart-item__final-price product-option">
                    {{ item.final_price | money }}
                </strong>
            </div>
        {%- else -%}
            <div class="ajax-cart-item__price {% if property_discount %} hidden{% endif %}">
                {{ item.original_price | money }}
            </div>
            <s class="ajax-cart-item__price-sale"></s>
        {%- endif -%}

        {%- if item.product.has_only_default_variant == false
            or item.properties.size != 0
            or item.selling_plan_allocation != null
        -%}
            <div class="ajax-cart-product-options">
                {%- if item.product.has_only_default_variant == false -%}
                    <div class="ajax-cart-product-option">
                        {%- for option in item.options_with_values -%}
                            {% if forloop.index == 1 %}
                                <span>{{ option.value }}</span>
                            {% else %}
                                <span>\ {{ option.value }} </span>
                            {% endif %}
                        {%- endfor -%}
                    </div>
                {%- endif -%}

                {%- for property in item.properties -%}
                    {%- assign property_first_char = property.first | slice: 0 -%}
                    {%- if property.last != blank and property_first_char != '_' -%}
                        <div class="ajax-cart-product-option">
                            <dt>{{ property.first }}:</dt>
                            <dd>
                                {%- if property.last contains '/uploads/' -%}
                                    <a href="{{ property.last }}" class="link" target="_blank">
                                        {{ property.last | split: '/' | last }}
                                    </a>
                                {%- else -%}
                                    {% if property.first == 'ComboDiscount' %}
                                        {% render 'icons-svg', icons: 'discount' %}
                                        {{ property.last }}
                                    {%- else -%}
                                        {{ property.last }}
                                    {% endif %}
                                {%- endif -%}
                            </dd>
                        </div>
                    {%- endif -%}
                {%- endfor -%}
            </div>

            <p class="ajax-cart-product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
        {%- endif -%}

        <ul
            class="ajax-cart-discounts list-unstyled"
            role="list"
            aria-label="{{ 'customer.order.discount' | t }}"
        >
            {%- for discount in item.discounts -%}
                <li class="discounts__discount">
                    {% render 'icons-svg', icons: 'discount' %}
                    {{ discount.title }}
                </li>
            {%- endfor -%}
        </ul>
        {% if template_cart %}
            </div>
        {% endif %}
        <div class="ajax-cart-item__quantity hidden">
            <div class="ajax-cart-item__quantity-wrapper">
                <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                    {{ 'sections.cart.quantity' | t }}
                </label>
                <a
                    href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}"
                    class="ajax-cart__quantity-button ajax-cart__quantity-button--minus"
                    data-ajax-cart-request-button
                >
                    {% render 'icons-svg', icons: 'minus' %}
                </a>
                <input
                    class="ajax-cart-drawer__input cart-drawer__input--qty"
                    type="number"
                    value="{{ item.quantity }}"
                    min="0"
                    name="updates[]"
                    data-ajax-cart-quantity-input="{{ forloop.index }}"
                >
                <a
                    href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}"
                    class="ajax-cart__quantity-button ajax-cart__quantity-button--plus"
                    data-ajax-cart-request-button
                >
                    {% render 'icons-svg', icons: 'plus' %}
                </a>
            </div>
            <div data-ajax-cart-messages="{{ item.key }}"></div>
        </div>

        {% if settings.currency_code_enabled %}
            <div class="ajax-cart-total {% if property_discount %} hidden{% endif %}">
                {{ 'sections.cart.total' | t }}
                {% if item.original_line_price != item.final_line_price %}
                    <del>{{ item.original_line_price | money_with_currency }}</del>
                    {{ item.final_line_price | money_with_currency }}
                {% else %}
                    {{ item.original_line_price | money_with_currency }}
                {% endif %}
            </div>
        {% else %}
            <div class="ajax-cart-total {% if property_discount %} hidden{% endif %}">
                {{ 'sections.cart.total' | t }}
                {% if item.original_line_price != item.final_line_price %}
                    <del>{{ item.original_line_price | money }}</del>
                    {{ item.final_line_price | money }}
                {% else %}
                    {{ item.original_line_price | money }}
                {% endif %}
            </div>
        {% endif %}
        <div class="ajax-cart-remove hidden ">
            <a
                href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0"
                class="ajax-cart__remove-button js-item-remove"
                data-item-id="{{ item.key }}"
                data-ajax-cart-request-button
            >
                {% render 'icons-svg', icons: 'trash' %}
                <small>{{ 'sections.cart.remove' | t }}</small>
            </a>
        </div>
        {% if property_discount %}
            <div class="ajax-cart-remove ajax-cart-clear ">
                <a
                    href="#ComboRemove"
                    class="ajax-cart__remove-button js-combo-remove"
                >
                    {% render 'icons-svg', icons: 'trash' %}
                    <small>{{ 'sections.cart.remove' | t }}</small>
                </a>
            </div>
        {% endif %}
    </div>
    {% render 'icons-svg', icons: 'plus' %}
</div>
