<nav
    id="MegaMenu"
    class="header__menu header__menu--main js-mobile-menu"
    tabindex="-1"
>
    <div class="header__icon-box">
        <a
            class="header__icon-close js-menu-toggle"
            href="#MobileMenuClose"
            aria-label="{{ 'accessibility.menu_close' | t }}"
        >
            {% render 'icons-svg', icons: 'close' %}
        </a>
    </div>
    <div class="header__menu__inner-container">
        <div class="header__menu__navigation-container">
            {% if menu.links.size > 0 %}
                <ul class="header__menu-list header__menu-list--mobile">
                    {% for link in menu.links %}
                        {% liquid
                            capture mega_menu_snippet
                                for block in blocks
                                    case block.type
                                        when 'simple_linklist'
                                            render 'mega-menu-simle-nav', block: block, link: link

                                        when 'mega_menu_three'
                                            render 'mega-menu-three-nav', block: block, link: link

                                        when 'mega_menu_four'
                                            render 'mage-menu-four-nav', block: block, link: link
                                    endcase
                                endfor
                            endcapture
                        %}
                        {% if mega_menu_snippet != blank %}
                            {{ mega_menu_snippet }}
                        {% else %}
                            <li class="header__menu-item header__menu-item--mobile">
                                <a
                                    id="headerMenuItemLink-{{forloop.index}}"
                                    class="header__menu-item-link header__menu-item-link--mobile"
                                    href="{{ link.url }}"
                                >
                                    {{ link.title }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</nav>
