<div class="featured-list-banners__box featured-list-banners__box--big-50">
    <div class="container">
        <div class="row">
            {% for block in blocks limit: 1 %}
                {% liquid
                    assign image = block.settings.item_img
                    assign img_size = settings.img_size
                    assign title = block.settings.item_title
                    assign subtitle = block.settings.item_subtitle
                    assign text = block.settings.item_text
                    assign button = block.settings.button_text
                    assign link = block.settings.item_link
                    assign position = block.settings.block_position
                    assign text_alignment = block.settings.text_alignment
                    assign style = block.settings.style
                %}

                {% if image.size > 0 %}
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 card-list-banner__big_50">
                        <div class="card-list-banner__item">
                            {% if link.size > 0 %}
                                <a href="{{ link }}">
                                    <span class="visually-hidden">
                                        {{ title }}
                                    </span>
                                </a>
                            {% endif %}
                            {% if image.size > 0 %}
                                <div class="card-list-banner__media-wrapper ">
                                    <picture class="card-list-banner__media media__size--{{ img_size }} media">
                                        {% render 'image',
                                            image_box: image,
                                            image_box_class: 'card-list-banner__image'
                                        %}
                                    </picture>
                                </div>
                            {% endif %}
                            {% if title.size > 0 or subtitle.size > 0 or text.size > 0 or button.size > 0 %}
                                <div class="card-list-banner__caption caption__content--{{ style }} caption__content--{{ position }} caption__content--{{ text_alignment }}">
                                    {% if subtitle.size > 0 %}
                                        <span class="card-list-banner__subtitle">{{ subtitle }}</span>
                                    {% endif %}

                                    {% if title.size > 0 %}
                                        <h3 class="card-list-banner__title h2">{{ title }}</h3>
                                    {% endif %}

                                    {% if text.size > 0 %}
                                        <div class="card-list-banner__text">{{ text }}</div>
                                    {% endif %}

                                    {% if button.size > 0 and link.size > 0 %}
                                        <span class="card-list-banner__btn button button--primary button--middle">
                                            {{- button -}}
                                        </span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 card-list-banner__two-big_50">
                {% for block in two_blocks %}
                    {% liquid
                        assign img_size = settings.img_size
                        assign image_1 = block.settings.item_img
                        assign title_1 = block.settings.item_title
                        assign subtitle_1 = block.settings.item_subtitle
                        assign button_1 = block.settings.item_button_text
                        assign link_1 = block.settings.item_link

                        assign image_2 = block.settings.item2_img
                        assign title_2 = block.settings.item2_title
                        assign subtitle_2 = block.settings.item2_subtitle
                        assign button_2 = block.settings.item2_button_text
                        assign link_2 = block.settings.item2_link

                        assign position = block.settings.block_position
                        assign text_alignment = block.settings.text_alignment
                        assign style = block.settings.style
                    %}
                    {% if image_1.size > 0 %}
                        <div class="card-list-banner__box_1">
                            <div class="card-list-banner__item">
                                {% if link_1.size > 0 %}
                                    <a href="{{ link_1 }}">
                                        <span class="visually-hidden">
                                            {{ title_1 }}
                                        </span>
                                    </a>
                                {% endif %}
                                {% if image_1.size > 0 %}
                                    <div class="card-list-banner__media-wrapper ">
                                        <picture class="card-list-banner__media media__size--{{ img_size }} media">
                                            {% render 'image',
                                                image_box: image_1,
                                                image_box_class: 'card-list-banner__image'
                                            %}
                                        </picture>
                                    </div>
                                {% endif %}
                                {% if title_1.size > 0 or subtitle_1.size > 0 or button_1.size > 0 %}
                                    <div class="card-list-banner__caption caption__content--{{ style }} caption__content--{{ position }} caption__content--{{ text_alignment }}">
                                        {% if subtitle_1.size > 0 %}
                                            <span class="card-list-banner__subtitle">{{ subtitle_1 }}</span>
                                        {% endif %}

                                        {% if title_1.size > 0 %}
                                            <h3 class="card-list-banner__title h2">{{ title_1 }}</h3>
                                        {% endif %}

                                        {% if button_1.size > 0 and link_1.size > 0 %}
                                            <span class="card-list-banner__btn button button--primary button--middle">
                                                {{ button_1 }}
                                            </span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    {% if image_2.size > 0 %}
                        <div class="card-list-banner__box_2">
                            <div class="card-list-banner__item">
                                {% if link_2.size > 0 %}
                                    <a href="{{ link_1 }}">
                                        <span class="visually-hidden">
                                            {{ title_2 }}
                                        </span>
                                    </a>
                                {% endif %}
                                {% if image_2.size > 0 %}
                                    <div class="card-list-banner__media-wrapper ">
                                        <picture class="card-list-banner__media media__size--{{ img_size }} media">
                                            {% render 'image',
                                                image_box: image_2,
                                                image_box_class: 'card-list-banner__image'
                                            %}
                                        </picture>
                                    </div>
                                {% endif %}
                                {% if title_2.size > 0 or subtitle_2.size > 0 or button_2.size > 0 %}
                                    <div class="card-list-banner__caption caption__content--{{ style }} caption__content--{{ position }} caption__content--{{ text_alignment }}">
                                        {% if subtitle_2.size > 0 %}
                                            <span class="card-list-banner__subtitle">{{ subtitle_2 }}</span>
                                        {% endif %}

                                        {% if title_2.size > 0 %}
                                            <h3 class="card-list-banner__title h2">{{ title_2 }}</h3>
                                        {% endif %}

                                        {% if button_2.size > 0 and link_2.size > 0 %}
                                            <span class="card-list-banner__btn button button--primary button--middle">
                                                {{ button_2 }}
                                            </span>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
