{% liquid
    assign sub_heading = block.settings.collections_sub_heading
    assign heading = block.settings.collections_title
    assign text = block.settings.collections_text
    assign head_alignment = block.settings.head_alignment

    assign collections_top = block.settings.top_collections
    assign collections_bot = block.settings.bot_collections
    assign img_size = block.settings.img_size
    assign text_alignment = block.settings.content_alignment
    assign full_width = block.settings.full_width

    assign count = block.settings.count_products

    assign background_color = block.settings.block_color | default: 'transparent'
    assign text_color = block.settings.text_color | default: 'inherit'
    assign title_color = block.settings.title_color | default: 'inherit'
    assign sub_title_color = block.settings.sub_title_color | default: 'inherit'

    assign overlay = block.settings.overlay_color | default: 'transparent'
    assign overlay_opacity = block.settings.opacity | times: 0.1
    assign cover_color = block.settings.background_color | default: '#fff'
    assign link_color = block.settings.link_color
    assign link_hover_color = block.settings.link_hover_color
    assign count_color = block.settings.count_color

    assign pad_top = block.settings.padding_top
    assign pad_bot = block.settings.padding_bottom
%}
{%- capture styles -%}
--sub_title_color-list-collections-block: {{ sub_title_color }};
--title-color-list-collections-block: {{ title_color }};
--text-color-list-collections-block: {{ text_color }};
--background-color-list-collections-block: {{ background_color }};

--overlay-color-list-collections-block: {{ overlay }};
--overlay_opacity-list-collections-block: {{ overlay_opacity }};
--background-cover-color-list-collections-block: {{ cover_color }};
--link-color-list-collections-block: {{ link_color }};
--link-hover-color-list-collections-block: {{ link_hover_color }};
--count-color-list-collections-block: {{ count_color }};

--pad-top-list-collections-block: {{ pad_top }}px;
--pad-bot-list-collections-block: {{ pad_bot }}px;

{%- endcapture -%}

{%- assign styles = styles | strip_newlines -%}

<div
    class="collections-block full_width--{{ full_width }}"
    style="{{ styles }}"
    {{ block.shopify_attributes }}
>
    <div class="collections-block__wrapper container">
        {% if sub_heading != blank or heading != blank or text != blank %}
            <div class="row">
                <div class="col-12">
                    <div class="collections-list__head head-alignment--{{head_alignment}}">
                        {% if sub_heading != blank %}
                            <h5 class="featured-list-collections__sub_heading h5">
                                {{ sub_heading | escape }}
                            </h5>
                        {% endif %}
                        {% if heading != blank %}
                            <h2 class="featured-list-collections__heading h2">
                                {{ heading | escape }}
                            </h2>
                        {% endif %}
                        {% if text != blank %}
                            <div class="featured-list-collections__text rte">
                                {{ text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row list-collections-grid">
            {% for collection in collections_top %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 list-collections-grid__item list-collections-grid__item--top">
                    <div class="card-collection">
                        <div class="card-collection__media-wrapper ">
                            <picture class="card-collection__media media__size--{{ img_size }} media">
                                <a href="{{ collection.url }}"
                                    ><span class="visually-hidden">
                                        {{ collection.title }}
                                    </span></a
                                >
                                {% render 'image',
                                    image_box: collection.featured_image,
                                    image_box_class: 'card-collection__image'
                                %}
                            </picture>
                        </div>

                        <div class="card-collection__content card-collection__content--{{ text_alignment }}">
                            <h3>
                                <span href="{{ collection.url }}">
                                    {{ collection.title | escape }}
                                </span>
                            </h3>
                            {% if count %}
                                <h5>
                                    {{ collection.all_products_count }}
                                    {{ 'sections.collections.products' | t }}
                                </h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% for collection in collections_bot %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 list-collections-grid__item list-collections-grid__item--top">
                    <div class="card-collection">
                        <div class="card-collection__media-wrapper ">
                            <picture class="card-collection__media media__size--{{ img_size }} media">
                                <a href="{{ collection.url }}"
                                    ><span class="visually-hidden">
                                        {{ collection.title }}
                                    </span></a
                                >
                                {% render 'image',
                                    image_box: collection.featured_image,
                                    image_box_class: 'card-collection__image'
                                %}
                            </picture>
                        </div>

                        <div class="card-collection__content card-collection__content--{{ text_alignment }}">
                            <h3>
                                <span href="{{ collection.url }}">
                                    {{ collection.title | escape }}
                                </span>
                            </h3>
                            {% if count %}
                                <h5>
                                    {{ collection.all_products_count }}
                                    {{ 'sections.collections.products' | t }}
                                </h5>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
