{% liquid
    assign sub_heading = settings.collections_sub_heading
    assign heading = settings.collections_title
    assign text = settings.collections_text
    assign head_alignment = settings.head_alignment

    assign img_size = settings.img_size
    assign text_alignment = settings.content_alignment
    assign full_width = settings.full_width

    assign count = settings.count_products
    assign columns_desktop = settings.columns_desktop
    assign columns_mobile = settings.columns_mobile

    if columns_desktop == 4
        assign columns_class = 'col-md-6 col-lg-3'
    elsif columns_desktop == 6
        assign columns_class = 'col-md-4 col-lg-2'
    elsif columns_desktop == 5
        assign columns_class = 'col-md-custom col-lg-custom'
    elsif columns_desktop == 3
        assign columns_class = 'col-md-4 col-lg-4'
    else
        assign columns_class = 'col-md-6 col-lg-6'
    endif

    if columns_mobile == '2'
        assign columns_mobile_class = 'col-6 col-sm-6'
    else
        assign columns_mobile_class = 'col-12 col-sm-6'
    endif

    assign background_color = settings.block_color | default: 'transparent'
    assign text_color = settings.text_color | default: 'inherit'
    assign title_color = settings.title_color | default: 'inherit'
    assign sub_title_color = settings.sub_title_color | default: 'inherit'
    assign badge_title_color = settings.badge_text_color | default: 'inherit'

    assign pad_top = settings.padding_top
    assign pad_bot = settings.padding_bottom
%}
{%- capture styles -%}
    --sub_title_color-list-collections-menu: {{ sub_title_color }};
    --title-color-list-collections-menu: {{ title_color }};
    --badge_title-color-list-collections-menu: {{ badge_title_color }};
    --text-color-list-collections-menu: {{ text_color }};
    --background-color-list-collections-menu: {{ background_color }};
    --pad-top-list-collections-menu: {{ pad_top }}px;
    --pad-bot-list-collections-menu: {{ pad_bot }}px;

{%- endcapture -%}

{%- assign styles = styles | strip_newlines -%}

<div
    class="collections-menu full_width--{{ full_width }}"
    style="{{ styles }}"
    {{ block.shopify_attributes }}
>
    <div class="collections-menu__wrapper container">
        {% if sub_heading != blank or heading != blank or text != blank %}
            <div class="row">
                <div class="col-12">
                    <div class="collections-list__head head-alignment--{{head_alignment}}">
                        {% if sub_heading != blank %}
                            <h5 class="featured-list-collections__sub_heading h5">
                                {{ sub_heading | escape }}
                            </h5>
                        {% endif %}
                        {% if heading != blank %}
                            <h2 class="featured-list-collections__heading h2">
                                {{ heading | escape }}
                            </h2>
                        {% endif %}
                        {% if text != blank %}
                            <div class="featured-list-collections__text rte">
                                {{ text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row list-collections-grid">
            {% for block in blocks %}
                {% liquid
                    assign collection = block.settings.featured_collections
                    assign menu = block.settings.collection_menu.links
                    assign button = block.settings.button_label
                %}
                <div class="{{columns_mobile_class}} {{ columns_class }} list-collections-grid__item">
                    <div class="card-collection">
                        <div class="card-collection__media-wrapper ">
                            <picture class="card-collection__media media__size--{{ img_size }} media">
                                <a href="{{ collection.url }}"
                                    ><span class="visually-hidden">
                                        {{ collection.title }}
                                    </span></a
                                >
                                {% render 'image',
                                    image_box: collection.featured_image,
                                    image_box_class: 'card-collection__image'
                                %}
                            </picture>
                        </div>

                        <div class="card-collection__content card-collection__content--{{ text_alignment }}">
                            <h3>
                                <a href="{{ collection.url }}">
                                    {{ collection.title | escape }}
                                    {% if count %}
                                        ({{ collection.all_products_count }})
                                    {% endif %}
                                </a>
                            </h3>
                            <ul class="card-collection__menu">
                                {%- for link in menu -%}
                                    {% liquid
                                        if link.title contains ';'
                                            assign badge = link.title | split: ',' | split: ';'
                                            assign title = badge[0] | split: '["'
                                            assign badge_name = badge[1]
                                            assign badge_color = badge[2] | split: '"]'
                                        else
                                            assign title = link.title
                                            assign badge_name = ''
                                            assign badge_color = ''
                                        endif
                                    %}
                                    <li class="card-collection__menu--item">
                                        <a class="card-collection__menu--link" href="{{ link.url }}">
                                            {{ title }}
                                            {% if badge_name != blank %}
                                                <span
                                                    style="background:{{ badge_color }};"
                                                    class="card-collection__menu--badge"
                                                >
                                                    {{ badge_name }}
                                                </span>
                                            {% endif %}
                                        </a>
                                    </li>
                                {%- endfor -%}
                            </ul>
                            {% if button != blank %}
                                <div class="card-collection__btn">
                                    <a class="button button--secondary" href="{{ collection.url }}">{{ button }}</a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
