{% liquid
    assign img_size = 'square'

    assign current_variant = product.selected_or_first_available_variant
    assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
%}
<div class="main-product__details-img  details-img-defaults details-img-column">
    {%- if current_variant.featured_image != blank -%}
        {%- for variant in product.variants -%}
            {% if variant.featured_image != blank %}
                <div class="main-product__media--item">
                    <picture
                        class="main-product__media media__size--{{ img_size }} media"
                        data-size="{{ img_size }}"
                    >
                        {% render 'image', image_box: variant.featured_image, image_box_class: 'main-product__image' %}
                    </picture>
                </div>
            {% endif %}
        {%- endfor -%}
        {%- for image in product.images -%}
            {%- unless variant_images contains image -%}
                <div class="main-product__media--item">
                    <picture
                        class="main-product__media media__size--{{ img_size }} media"
                        data-size="{{ img_size }}"
                    >
                        {% render 'image', image_box: image, image_box_class: 'main-product__image' %}
                    </picture>
                </div>
            {%- endunless -%}
        {%- endfor -%}
    {%- else -%}
        {%- for image in product.images -%}
            <div class="main-product__media--item">
                <picture
                    class="main-product__media media__size--{{ img_size }} media"
                    data-size="{{ img_size }}"
                >
                    {% render 'image', image_box: image, image_box_class: 'main-product__image' %}
                </picture>
            </div>
        {%- endfor -%}
    {%- endif -%}
</div>
