<div class="main-product__details-img main-product__details-img--{{ img_fill }}  details-img-slider{% if grouped_product %} js-layout-grouped{% else %} js-layout-slider{% endif %}">
    {%- if current_variant.featured_image != blank -%}
        {% if grouped_product %}
            <tab-element autofocus="false">
                <ul class="js-tablist tabs" role="tablist">
                    {% for variant in product.options_with_values %}
                        {% if variant.position == 1 %}
                            {% for value in variant.values %}
                                <li class="tabs__item">
                                    <button
                                        role="button"
                                        class="tabs__btn js-tab{% if forloop.first %} active{% endif %}"
                                        role="tab"
                                        aria-selected="{% if forloop.first %}true{% else %}false{% endif %}"
                                        aria-controls="{{ value }}-panel"
                                    >
                                        {{ value }}
                                    </button>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {%- endfor %}
                </ul>
                <div class="tabs__content-wrapper">
                    {% for variant in product.options_with_values %}
                        {% if variant.position == 1 %}
                            {% for value in variant.values %}
                                <div
                                    id="{{ value }}-panel"
                                    class="tabs__content js-tabpanel{% unless forloop.first %} hidden{% endunless %}"
                                    role="tabpanel"
                                >
                                    <slider-main-product>
                                        <div class="swiper-container js-gallery swiper-gallery">
                                            <ul class="main-product__list swiper-wrapper">
                                                {%- for variant in product.variants -%}
                                                    {% assign values = variant.options | join: ' ' %}
                                                    {% if variant.options contains value %}
                                                        {% if variant.featured_image != blank %}
                                                            <li
                                                                class="main-product__item swiper-slide"
                                                                data-variant-id="{{ variant.id }}"
                                                            >
                                                                <div class="main-product__media--item">
                                                                    <picture
                                                                        class="main-product__media media__size--{{ img_size }} media"
                                                                        data-size="{{ img_size }}"
                                                                    >
                                                                        {% render 'image',
                                                                            image_box: variant.featured_image,
                                                                            image_box_class: 'main-product__image'
                                                                        %}
                                                                    </picture>
                                                                </div>
                                                            </li>
                                                            {% assign variant_variable = variant.metafields.custom.images_group.value %}
                                                            {% for image in variant_variable -%}
                                                                <li class="main-product__item swiper-slide">
                                                                    <div class="main-product__media--item">
                                                                        <picture
                                                                            class="main-product__media media__size--{{ img_size }} media"
                                                                            data-size="{{ img_size }}"
                                                                        >
                                                                            {% render 'image',
                                                                                image_box: image,
                                                                                image_box_class: 'main-product__image'
                                                                            %}
                                                                        </picture>
                                                                    </div>
                                                                </li>
                                                            {% endfor -%}
                                                        {% else %}
                                                            <li class="main-product__item swiper-slide">
                                                                <div class="main-product__media--item">
                                                                    <picture
                                                                        class="main-product__media media__size--{{ img_size }} media"
                                                                        data-size="{{ img_size }}"
                                                                    >
                                                                        {% render 'image',
                                                                            image_box: current_variant.featured_image,
                                                                            image_box_class: 'main-product__image'
                                                                        %}
                                                                    </picture>
                                                                </div>
                                                            </li>
                                                        {% endif %}
                                                    {% endif %}
                                                {%- endfor -%}
                                            </ul>
                                            <div class="swiper-pagination js-pagination"></div>
                                        </div>
                                        <div class="swiper-gallery-box">
                                            <div
                                                class="swiper-container js-gallery-thumb swiper-gallery-thumb"
                                            >
                                                <ul class="main-product__thumb swiper-wrapper">
                                                    {%- for variant in product.variants -%}
                                                        {% assign values = variant.options | join: ' ' %}
                                                        {% if variant.options contains value %}
                                                            {% if variant.featured_image != blank %}
                                                                <li class="main-product__item--thumb swiper-slide">
                                                                    <div class="main-product__media--item">
                                                                        <picture
                                                                            class="main-product__media media__size--{{ img_size }} media"
                                                                            data-size="{{ img_size }}"
                                                                        >
                                                                            {% render 'image',
                                                                                image_box: variant.featured_image,
                                                                                image_box_class: 'main-product__image'
                                                                            %}
                                                                        </picture>
                                                                    </div>
                                                                </li>
                                                                {% assign variant_variable = variant.metafields.custom.images_group.value %}
                                                                {% for image in variant_variable -%}
                                                                    <li class="main-product__item--thumb swiper-slide">
                                                                        <div class="main-product__media--item">
                                                                            <picture
                                                                                class="main-product__media media__size--{{ img_size }} media"
                                                                                data-size="{{ img_size }}"
                                                                            >
                                                                                {% render 'image',
                                                                                    image_box: image,
                                                                                    image_box_class: 'main-product__image'
                                                                                %}
                                                                            </picture>
                                                                        </div>
                                                                    </li>
                                                                {% endfor -%}
                                                            {% else %}
                                                                <li class="main-product__item--thumb swiper-slide">
                                                                    <div class="main-product__media--item">
                                                                        <picture
                                                                            class="main-product__media media__size--{{ img_size }} media"
                                                                            data-size="{{ img_size }}"
                                                                        >
                                                                            {% render 'image',
                                                                                image_box: current_variant.featured_image,
                                                                                image_box_class: 'main-product__image'
                                                                            %}
                                                                        </picture>
                                                                    </div>
                                                                </li>
                                                            {% endif %}
                                                        {% endif %}
                                                    {%- endfor -%}
                                                </ul>
                                            </div>
                                            <div class="swiper-button-prev js-button-prev">
                                                {% render 'icons-svg', icons: 'prev' %}
                                            </div>
                                            <div class="swiper-button-next js-button-next">
                                                {% render 'icons-svg', icons: 'next' %}
                                            </div>
                                        </div>
                                    </slider-main-product>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {%- endfor %}
                </div>
            </tab-element>

        {% else %}
            <slider-main-product>
                <div
                    class="swiper-container js-gallery swiper-gallery"
                >
                    <ul class="main-product__list swiper-wrapper">
                        {%- for variant in product.variants -%}
                            {% if variant.featured_image != blank %}
                                <li class="main-product__item swiper-slide" data-variant-id="{{ variant.id }}">
                                    <div class="main-product__media--item">
                                        <picture
                                            class="main-product__media media__size--{{ img_size }} media"
                                            data-size="{{ img_size }}"
                                        >
                                            {% render 'image',
                                                image_box: variant.featured_image,
                                                image_box_class: 'main-product__image'
                                            %}
                                        </picture>
                                    </div>
                                </li>
                                {% assign variant_variable = variant.metafields.custom.images_group.value %}
                                {% for image in variant_variable -%}
                                    <li class="main-product__item swiper-slide">
                                        <div class="main-product__media--item">
                                            <picture
                                                class="main-product__media media__size--{{ img_size }} media"
                                                data-size="{{ img_size }}"
                                            >
                                                {% render 'image',
                                                    image_box: image,
                                                    image_box_class: 'main-product__image'
                                                %}
                                            </picture>
                                        </div>
                                    </li>
                                {% endfor -%}
                            {% endif %}
                        {%- endfor -%}
                        {%- for image in product.images -%}
                            {%- unless variant_images contains image -%}
                                <li class="main-product__item swiper-slide">
                                    <div class="main-product__media--item">
                                        <picture
                                            class="main-product__media media__size--{{ img_size }} media"
                                            data-size="{{ img_size }}"
                                        >
                                            {% render 'image',
                                                image_box: image,
                                                image_box_class: 'main-product__image'
                                            %}
                                        </picture>
                                    </div>
                                </li>
                            {%- endunless -%}
                        {%- endfor -%}
                    </ul>
                    <div class="swiper-pagination js-pagination"></div>
                </div>

                <div class="swiper-gallery-box">
                    <div
                        class="swiper-container js-gallery-thumb swiper-gallery-thumb"
                    >
                        <ul class="main-product__thumb swiper-wrapper">
                            {%- for variant in product.variants -%}
                                {% if variant.featured_image != blank %}
                                    <li
                                        class="main-product__item--thumb swiper-slide"
                                        data-variant-id="{{ variant.id }}"
                                    >
                                        <div class="main-product__media--item">
                                            <picture
                                                class="main-product__media media__size--{{ img_size }} media"
                                                data-size="{{ img_size }}"
                                            >
                                                {% render 'image',
                                                    image_box: variant.featured_image,
                                                    image_box_class: 'main-product__image'
                                                %}
                                            </picture>
                                        </div>
                                    </li>
                                    {% assign variant_variable = variant.metafields.custom.images_group.value %}
                                    {% for image in variant_variable -%}
                                        <li class="main-product__item--thumb swiper-slide">
                                            <div class="main-product__media--item">
                                                <picture
                                                    class="main-product__media media__size--{{ img_size }} media"
                                                    data-size="{{ img_size }}"
                                                >
                                                    {% render 'image',
                                                        image_box: image,
                                                        image_box_class: 'main-product__image'
                                                    %}
                                                </picture>
                                            </div>
                                        </li>
                                    {% endfor -%}
                                {% endif %}
                            {%- endfor -%}
                            {%- for image in product.images -%}
                                {%- unless variant_images contains image -%}
                                    <li class="main-product__item--thumb swiper-slide">
                                        <div class="main-product__media--item">
                                            <picture
                                                class="main-product__media media__size--{{ img_size }} media"
                                                data-size="{{ img_size }}"
                                            >
                                                {% render 'image',
                                                    image_box: image,
                                                    image_box_class: 'main-product__image'
                                                %}
                                            </picture>
                                        </div>
                                    </li>
                                {%- endunless -%}
                            {%- endfor -%}
                        </ul>
                    </div>
                    <div class="swiper-button-prev js-button-prev">{% render 'icons-svg', icons: 'prev' %}</div>
                    <div class="swiper-button-next js-button-next">{% render 'icons-svg', icons: 'next' %}</div>
                </div>
            </slider-main-product>
        {% endif %}
    {%- else -%}
        <slider-main-product>
            <div
                class="swiper-container js-gallery swiper-gallery"
            >
                <ul class="main-product__list swiper-wrapper">
                    {%- for image in product.images -%}
                        <li class="main-product__item swiper-slide">
                            <div class="main-product__media--item ">
                                <picture
                                    class="main-product__media media__size--{{ img_size }} media"
                                    data-size="{{ img_size }}"
                                >
                                    {% render 'image', image_box: image, image_box_class: 'main-product__image' %}
                                </picture>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="swiper-pagination js-pagination"></div>
            </div>
            <div class="swiper-gallery-box">
                <div
                    class="swiper-container js-gallery-thumb swiper-gallery-thumb"
                >
                    <ul class="main-product__thumb swiper-wrapper">
                        {%- for image in product.images -%}
                            <li class="main-product__item--thumb swiper-slide">
                                <div class="main-product__media--item">
                                    <picture
                                        class="main-product__media media__size--{{ img_size }} media"
                                        data-size="{{ img_size }}"
                                    >
                                        {% render 'image', image_box: image, image_box_class: 'main-product__image' %}
                                    </picture>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="swiper-button-prev js-button-prev">{% render 'icons-svg', icons: 'prev' %}</div>
                <div class="swiper-button-next js-button-next">{% render 'icons-svg', icons: 'next' %}</div>
            </div>
        </slider-main-product>
    {%- endif -%}
</div>
