{% liquid
    assign show_vendor = settings.show_vendor
    assign show_rating = settings.show_rating
    assign add_btn = settings.enable_add_btn
    assign btn = settings.btn
    assign variant_type = settings.variant
    assign notify_me = settings.notify_me

    assign price_variant = settings.price_variant
    assign date_timer = product.metafields.custom.countdown_timer

    assign sold_out = true
    if product.available
        assign sold_out = false
    endif

    assign current_variant = product.selected_or_first_available_variant
    if current_variant.featured_image != blank
        assign image_box = current_variant.featured_image
    else
        assign image_box = product.featured_image
    endif
%}

<div class="main-product__content">
    <div class="main-product__info">
        <div class="main-product__info-left">
            <h1 class="main-product__title js-card-product-title" itemprop="name">
                {{ product.title | escape }}
            </h1>
            {% render 'card-rating', product: product %}

            <div class="main-product__details">
                {%- for var in product.variants -%}
                    {%- assign varQ = var.inventory_quantity -%}
                {%- endfor -%}

                <div class="main-product__stock">
                <span class="main-product__stock-icon main-product__stock--{% if sold_out %}nostock {% elsif varQ < 10 and sold_out == false %}lowstock{% else %}normalstock{% endif %} js-card-product-stock"> </span>
                <span class="main-product__stock-title">{{ 'products.product.stock_level' | t }}:</span>
                <span class="js-card-product-count">{{ varQ }}</span> {{ 'products.product.stock_items' | t }}</span>
            </div>

                <div class="single_product__sku">
                    <b>{{ 'products.product.sku' | t }}:</b>
                    {% assign current_variant = product.selected_or_first_available_variant %}
                    <span class="variant-sku">{{ current_variant.sku }}</span>
                </div>

                <div class="single_product__barcode">
                    <b>{{ 'products.product.barcode' | t }}:</b>
                    <span class="variant-barcode">{{ current_variant.barcode }}</span>
                </div>
            </div>
        </div>
        <div class="main-product__info-right">
            <div class="main-product__box-indent">
                <div class="main-product__text">
                    <div class="main-product__text-item">
                        {% render 'icons-svg', icons: 'car' %}
                        <div class="main-product__text-title">
                            <span class="h5">FREE SHIPPING</span>
                            Free shipping on all US order or order above $99
                        </div>
                    </div>
                    <div class="main-product__text-item">
                        {% render 'icons-svg', icons: 'phone' %}
                        <div class="main-product__text-title">
                            <span class="h5">SUPPORT 24/7</span>
                            Contact us 24 hours a day, 7 days a week
                        </div>
                    </div>

                    <div class="main-product__text-item">
                        {% render 'icons-svg', icons: 'undo' %}
                        <div class="main-product__text-title">
                            <span class="h5">14 DAYS RETURN</span>
                            Simply return it within 14 days for an exchange.
                        </div>
                    </div>
                </div>
                <!-- /snippets/compare-wishlist-btns.liquid -->
                <!-- /snippets/social-sharing.liquid -->
                <div
                    class="main-product__social-sharing"
                    {{ block.shopify_attributes }}
                >
                    {% assign share_url = request.origin | append: product.url %}
                    <ul class="list-social">
                        <li>{{ 'blogs.article.share' | t }}:</li>
                        {% render 'social-sharing',
                            share_title: product.title,
                            share_permalink: product.url,
                            share_image: image_box
                        %}
                    </ul>
                </div>
                <div class="main-product__pay-pal">
                    <img
                        src="//cdn.shopify.com/s/files/1/2318/9533/files/pay-pal_03_300x_crop_top.png?v=1613735657"
                        alt="payment"
                    >
                </div>
            </div>
        </div>
    </div>

    {% if date_timer %}
        <div class="card-product__badge card-product__badge--offer">
            {{ 'products.product.offer' | t }}
        </div>
        <countdown-container data-date="{{ date_timer }}">
            <div id="countdown-{{ product.id }}" class="countdown-box card-product__countdown">
                <div class="days-container">
                    <div class="days"></div>
                    <div class="days-label">{{ 'header.days' | t }}</div>
                </div>

                <div class="hours-container">
                    <div class="hours"></div>
                    <div class="hours-label">{{ 'header.hours' | t }}</div>
                </div>

                <div class="minutes-container">
                    <div class="minutes"></div>
                    <div class="minutes-label">{{ 'header.minutes' | t }}</div>
                </div>

                <div class="seconds-container">
                    <div class="seconds"></div>
                    <div class="seconds-label">{{ 'header.seconds' | t }}</div>
                </div>
            </div>
        </countdown-container>
    {% endif %}
    {% if show_vendor %}
        <div class="card-product__row">
            <span class="card-product__vendor">{{ product.vendor }}</span>
            {%- for var in product.variants -%}
                {%- assign varQ = var.inventory_quantity -%}
            {%- endfor -%}
            <div class="card-product__stock">
                <span
                    class="card-product__icon card-product__stock--{% if sold_out %}nostock {% elsif varQ < 10 and sold_out == false %}lowstock{% else %}normalstock{% endif %} js-card-product-stock"
                ></span>
                <span class="stock-level">{{ 'products.product.stock_level' | t }}</span>
            </div>
        </div>
    {% endif %}
    <h5 class="card-product__title js-card-product-title">
        <a href="{{ product.url | within: collection }}">
            {{ product.title | truncate: 60 | escape }}
        </a>
    </h5>
    <div class="card-product__desc" itemprop="name">{{ product.description | strip_html | truncate: 80 }}</div>
    {% render 'price',
        product: product,
        price_class: 'card-product__price js-card-product-price',
        use_variant: price_variant
    %}

    {% if add_btn %}
        {% if btn == 'quick' %}
            {% render 'form-collection',
                product: product,
                variant_type: variant_type,
                show_quantity: true,
                notify_me: notify_me
            %}
        {% else %}
            {% if product.available %}
                <div class="card-product__btns">
                    <a
                        class="button button--secondary card-product__button-cart"
                        href="{{ product.url | within: collection }}"
                    >
                        {{- 'products.product.details' | t -}}
                    </a>
                    {% render 'compare-wishlist-btns', product: product %}
                </div>
            {% else %}
                {% if notify_me %}
                    <details-open-notify>
                        <div class="card-product__btns">
                            <a
                                class="button button--primary card-product__button-notify js-summary"
                                href="#notify"
                                role="button"
                            >
                                {{ 'products.product.ask_btn' | t }}
                            </a>
                            {% render 'compare-wishlist-btns', product: product %}
                        </div>
                        <div class="card-product__notify-form js-details">
                            {% render 'notify-form', product: product %}
                        </div>
                        <div class="card-product__overlay">
                            <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
                        </div>
                    </details-open-notify>
                {% else %}
                    <div class="card-product__btns">
                        <button
                            type="button"
                            id="SoldOutText-{{ product.id }}"
                            class="button--secondary card-product__button-sold"
                            disabled=""
                        >
                            <span id="SoldOutText">{{ 'products.product.sold_out' | t }}</span>
                        </button>
                        {% render 'compare-wishlist-btns', product: product %}
                    </div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    {%- if show_rating and product.metafields.reviews.rating.value != blank -%}
        {% render 'card-rating', product: product %}
    {%- endif -%}
</div>
