{% liquid
    assign grouped_product = product.metafields.custom.grouped_images.value
    assign combo_products = product.metafields.custom.combo_products.value
    assign buy_more_products = product.metafields.custom.buy_more.value
    assign short_description = product.metafields.custom.short_description
    assign variant_type = settings.variant
    assign date_timer = product.metafields.custom.countdown_timer
    assign new_badge = settings.new_badge

    if new_badge.size > 0
        assign date_pub_y = product.published_at | date: '%Y'
        assign date_pub_d = product.published_at | date: '%j'
        assign date_now_y = 'now' | date: '%Y'
        assign date_now_d = 'now' | date: '%j'
        assign dates_diff_y = date_now_y | minus: date_pub_y | times: 365
        assign dates_diff_d = date_now_d | minus: date_pub_d
        assign dates_diff = dates_diff_y | plus: dates_diff_d
        assign new_products_period = new_badge | plus: 0
    endif

    assign sold_out = true
    if product.available
        assign sold_out = false
    endif

    assign current_variant = product.selected_or_first_available_variant
%}

<div class="main-product__content">
    <div class="main-product__info">
        <div class="main-product__info-left">
            <div class="js-card-product-sale-badge" style="display:none">
                {{ 'products.product.sale' | t }}
            </div>
            {% if date_timer %}
                <div class="card-product__badge card-product__badge--offer">
                    {{ 'products.product.offer' | t }}
                </div>
            {% endif %}
            {% if dates_diff <= new_products_period %}
                <div class="card-product__badge card-product__badge--new {% if sold_out %} hidden{% endif %}">
                    {{ 'products.product.new' | t }}
                </div>
            {% endif %}
            <div class="card-product__badge card-product__badge--sold{% unless sold_out %} hidden{% endunless %}">
                {{ 'products.product.sold' | t }}
            </div>
            <h1 class="main-product__title js-card-product-title" itemprop="name">
                {{ product.title | escape }}
            </h1>

            {% render 'card-rating', product: product %}

            <div class="main-product__details">
                {%- for var in product.variants -%}
                    {%- assign varQ = var.inventory_quantity -%}
                {%- endfor -%}

                <div class="main-product__stock">
                    <span
                        class="main-product__stock-icon main-product__stock--{% if sold_out %}nostock {% elsif varQ < 10 and sold_out == false %}lowstock{% else %}normalstock{% endif %} js-card-product-stock"
                    >
                    </span>
                    <span class="main-product__stock-title main-product__details--title">
                        {{- 'products.product.stock_level' | t }}:</span
                    >
                    <span class="js-card-product-count">{{ varQ }}</span> {{ 'products.product.stock_items' | t }}
                </div>
                {% assign current_variant = product.selected_or_first_available_variant %}
                {% if current_variant.sku != blank %}
                    <div class="main-product__sku">
                        <span class="main-product__sku-title main-product__details--title">
                            {{- 'products.product.sku' | t }}:</span
                        >

                        <span class="variant__sku js-variant-sku">{{ current_variant.sku }}</span>
                    </div>
                {% endif %}
                {% if current_variant.barcode != blank %}
                    <div class="main-product__barcode">
                        <span class="main-product__barcode-title main-product__details--title">
                            {{- 'products.product.barcode' | t }}:</span
                        >
                        <span class="variant__barcode js-variant-barcode">{{ current_variant.barcode }}</span>
                    </div>
                {% endif %}
            </div>

            <div class="main-product__price">
                {% unless combo_products %}
                    {% render 'price',
                        product: product,
                        price_class: 'card-product__price js-card-product-price',
                        use_variant: true
                    %}
                    {%- if shop.taxes_included or shop.shipping_policy.body != blank -%}
                        <div class="product__tax caption rte">
                            {%- if shop.taxes_included -%}
                                {{ 'products.product.include_taxes' | t }}
                            {%- endif -%}
                            {%- if shop.shipping_policy.body != blank -%}
                                {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                            {%- endif -%}
                        </div>
                    {%- endif -%}
                {% endunless %}

                {% if short_description %}
                    <div
                        class="main-product__short-desc{% unless combo_products %} margin-top{% endunless %}"
                        itemprop="short-description"
                    >
                        {{ short_description | metafield_tag }}
                    </div>
                {% endif %}

                {% if date_timer %}
                    <countdown-container data-date="{{ date_timer }}">
                        <h5>{{ 'products.product.expires_in' | t }}Expires in :</h5>
                        <div id="countdown-{{ product.id }}" class="countdown-box card-product__countdown">
                            <div class="days-container">
                                <div class="days"></div>
                                <div class="days-label">{{ 'header.days' | t }}</div>
                            </div>

                            <div class="hours-container">
                                <div class="hours"></div>
                                <div class="hours-label">{{ 'header.hours' | t }}</div>
                            </div>

                            <div class="minutes-container">
                                <div class="minutes"></div>
                                <div class="minutes-label">{{ 'header.minutes' | t }}</div>
                            </div>

                            <div class="seconds-container">
                                <div class="seconds"></div>
                                <div class="seconds-label">{{ 'header.seconds' | t }}</div>
                            </div>
                        </div>
                        <div class="countdown-box__footer">
                            <div class="countdown-box__footer-text">{{ 'products.product.stock_hurry' | t }}</div>
                            {%- for var in product.variants -%}
                                {%- assign varQ = var.inventory_quantity -%}
                            {%- endfor -%}
                            <div class="countdown-box__footer-availability">
                                <span class="js-card-product-count">{{ varQ }}</span>
                                {{ 'products.product.stock_items' | t }}
                                {{ 'products.product.stock_left' | t }}
                            </div>
                        </div>
                    </countdown-container>
                {% endif %}
            </div>
            <div class="main-product__action">
                {% if combo_products %}
                    {% render 'form-product-combo',
                        product: product,
                        variant_type: false,
                        show_quantity: false,
                        grouped_product: false
                    %}
                {% else %}
                    {% render 'form-product',
                        product: product,
                        variant_type: variant_type,
                        show_quantity: true,
                        grouped_product: grouped_product
                    %}
                {% endif %}
            </div>
            {% if buy_more_products.size > 0 %}
                <div class="main-product__buy-more">
                    <h4 class="main-product__buy-more-title">{{- 'products.product.buy_more' | t }}</h4>
                    <div class="main-product__buy-more-box">
                        {% for item in buy_more_products %}
                            <div class="buy-more__items js-buy-more-items">
                                <div class="buy-more__item js-buy-more-item">{{ item }}</div>
                                <div class="buy-more__btn button button--outline js-buy-more-btn">
                                    <span>{{- 'products.product.buy_more_btn' | t }}</span>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {{ 'component-pickup-availability.css' | asset_url | stylesheet_tag }}

            {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities
                | where: 'pick_up_enabled', true
            -%}

            <pickup-availability
                class="product__pickup-availabilities no-js-hidden quick-add-hidden"
                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %}
                    available
                {% endif %}
                data-root-url="{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
            >
                <template>
                    <pickup-availability-preview class="pickup-availability-preview">
                        {% render 'icons-svg', icons: 'unavailable' %}
                        <div class="pickup-availability-info">
                            <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                            <button class="pickup-availability-button button button--link">
                                {{ 'products.product.pickup_availability.refresh' | t }}
                            </button>
                        </div>
                    </pickup-availability-preview>
                </template>
            </pickup-availability>

            <script src="{{ 'pickup-availability.js' | asset_url }}" defer="defer"></script>

            <div class="main-product__popup">
                <details-open-notify>
                    <a
                        class="main-product__button-popup main-product__button-size-guide js-summary"
                        href="#SizeGuide"
                        role="button"
                    >
                        {% render 'icons-svg', icons: 'shirt' %}
                        {{ 'products.product.ask_size_guide' | t }}
                    </a>
                    <div class="card-product__notify-form js-details">
                        Size Guide
                        <button
                            type="button"
                            class="ask-product__close-button button--link link focus-inset js-modal-close-btn"
                            aria-label="{{ 'accessibility.close' | t }}"
                        >
                            {% render 'icons-svg', icons: 'close' %}
                        </button>
                    </div>
                    <div class="card-product__overlay">
                        <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
                    </div>
                </details-open-notify>
                <details-open-notify>
                    <a
                        class="main-product__button-popup main-product__button-shipping js-summary"
                        href="#Shipping"
                        role="button"
                    >
                        {% render 'icons-svg', icons: 'gift' %}
                        {{ 'products.product.ask_shipping' | t }}
                    </a>
                    <div class="card-product__notify-form js-details">
                        Shipping
                        <button
                            type="button"
                            class="ask-product__close-button button--link link focus-inset js-modal-close-btn"
                            aria-label="{{ 'accessibility.close' | t }}"
                        >
                            {% render 'icons-svg', icons: 'close' %}
                        </button>
                    </div>
                    <div class="card-product__overlay">
                        <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
                    </div>
                </details-open-notify>
                <details-open-notify>
                    <a
                        class="main-product__button-popup main-product__button-notify js-summary"
                        href="#notify"
                        role="button"
                    >
                        {% render 'icons-svg', icons: 'envelope' -%}
                        {{- 'products.product.ask_title' | t }}
                    </a>
                    <div class="card-product__notify-form js-details">{% render 'notify-form', product: product %}</div>
                    <div class="card-product__overlay">
                        <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
                    </div>
                </details-open-notify>
            </div>
            <div class="main-product__details-bottom">
                {% if product.collections.size > 0 %}
                    <div class="main-product__collections">
                        <span class="main-product__collections-title main-product__details--title">
                            {{- 'products.product.collections_product' | t }}:</span
                        >
                        <a href="{{ product.collections.first.url }}">{{ product.collections.first.title }}</a>
                        {%- for collection in product.collections offset: 1 -%}
                            , <a href="{{ collection.url }}">{{ collection.title }}</a>
                        {%- endfor %}
                    </div>
                {% endif %}

                {% if product.type != blank %}
                    <div class="main-product__type">
                        <span class="main-product__type-title main-product__details--title">
                            {{- 'products.product.type_product' | t }}:</span
                        >

                        <span>{{ product.type }}</span>
                    </div>
                {% endif %}
                {% if product.vendor != blank %}
                    <div class="main-product__vendor">
                        <span class="main-product__type-title main-product__details--title">
                            {{- 'products.product.vendor_product' | t }}:</span
                        >

                        <span>{{ product.vendor }}</span>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
