{% comment %}
    Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
    <div class='swatch swatch--product error'>
        <p>You must include the snippet swatch.liquid with the name of a product option.</p>
        <p>
            Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code>
        </p>
        <p>
            Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code>
        </p>
    </div>
{% else %}
    {% assign found_option = false %}
    {% assign is_first = false %}
    {% assign is_color = false %}
    {% assign is_image = false %}
    {% assign is_second = false %}
    {% assign is_third = false %}
    {% assign option_index = 0 %}

    {% for option in product.options %}
        {% if option == swatch %}
            {% assign found_option = true %}
            {% assign option_index = forloop.index0 %}
            {% assign downcased_option = swatch | downcase %}

            {% if downcased_option contains 'color' %}
                {% assign is_color = true %}
                {% assign is_first = true %}
                {% if variant_type == 'pills_color_images' %}
                    {% assign is_image = true %}
                {% endif %}
            {% endif %}

            {% if downcased_option contains 'size' %}
                {% assign is_second = true %}
            {% endif %}

            {% if downcased_option contains 'fill'
                or downcased_option contains 'pattern'
                or downcased_option contains 'material'
            %}
                {% assign is_third = true %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {% unless found_option %}
        <div class='swatch swatch--product error'>
            <p>
                You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> —
                that does not belong to your product.
            </p>
            <p>
                Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code>
            </p>
            <p>
                Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code>
            </p>
            <p>
                <strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name
                is <code>'Color'</code>.
            </p>
        </div>
    {% else %}
        {%- assign current_variant = product.selected_or_first_available_variant -%}
        {% if is_first %}
            {% assign class = 'swatch-first' %}
        {% elsif is_second %}
            {% assign class = 'swatch-second' %}
        {% else %}
            {% assign class = 'swatch-third' %}
        {% endif %}
        <div
            class='swatch swatch--product swatch-item-{{ swatch }} js-{{ class }}'
            data-option-index='{{ option_index }}'
            data-swatch='{{ swatch }}'
        >
            <div class='swatch-header js-swatch-header'>
                <span>
                    {{ swatch }}:
                    <em>{{ current_variant.options[option_index] }}</em>
                </span>
            </div>

            {% assign values = '' %}

            {% for variant in product.variants %}
                {% assign value = variant.options[option_index] %}

                {% unless values contains value %}
                    {% assign values = values | join: ',' | append: ',' | append: value | split: ',' %}

                    <div
                        {% if is_first %}
                            data-lvl-first='{{ value }}'
                        {% endif %}
                        {% if is_second %}
                            data-lvl-second='{{ value }}'
                        {% endif %}
                        {% if is_third %}
                            data-lvl-third='{{ value }}'
                        {% endif %}
                        data-value='{{ value }}'
                        class='swatch-element {% if is_color %}swatch-element-color {% endif %}{% if is_image %}swatch-element-image {% endif %}{{ value | handle }} js-swatch-element'
                    >
                        <input
                            id='swatch-{{ option_index }}-{{ value | handle }}-{{ section.id }}-{{ product.id }}'
                            type='radio'
                            name='option-{{ option_index }}-{{ section.id }}-{{ product.id }}'
                            value='{{ value | escape }}'
                            data-swatch-option='{{ option_index }}'
                        >
                        {% if is_color %}
                            {% assign sku_array = variant.sku | split: ' ' %}
                            {% assign url_handle = value | handle %}
                            <label
                                for='swatch-{{ option_index }}-{{ value | handle }}-{{ section.id }}-{{ product.id }}'
                                {% if is_image %}
                                    style='background-image: url({{ variant.featured_image | img_url: img_size, crop: 'center' }})'
                                {% else %}
                                    style='background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ url_handle | replace: "-", "_" | append: '.' | append: file_extension | file_url }})'
                                {% endif %}
                            >
                            </label>
                        {% else %}
                            <label for='swatch-{{ option_index }}-{{ value | handle }}-{{ section.id }}-{{ product.id }}'>
                                {{ value }}
                            </label>
                        {% endif %}
                    </div>
                {% endunless %}
            {% endfor %}
        </div>
    {% endunless %}
{% endif %}
