{% comment %}
    /sections/ajax-cart.liquid

    Add a wrapper with a [data-ajax-cart-section] attribute
    so that Liquid Ajax Cart knows that the section should be rerendered
    after user's cart state is changed.
{% endcomment %}

{% liquid
    assign shipping_total = section.settings.shipping_total | times: 100
    assign size = section.settings.img_size
    assign bg_color = section.settings.background_color
    assign title_color = section.settings.title_color
    assign text_color = section.settings.text_color
    assign link_color = section.settings.link_color
    assign link_hover_color = section.settings.link_hover_color
    assign divider_color = section.settings.divider_color
%}

{% capture styles %}
    --cart-drawer-background-color: {{ bg_color }};
    --cart-drawer-title-color: {{ title_color }};
    --cart-drawer-text-color: {{ text_color }};
    --cart-drawer-link-color: {{ link_color }};
    --cart-drawer-link-hover-color: {{ link_hover_color }};
    --cart-drawer-divider-color: {{ divider_color }};
{% endcapture %}

{% assign styles = styles | strip_newlines %}

{{ 'section-ajax-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-modal.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}

<div class='cart-overlay' data-ajax-cart-toggle-class-button='js-ajax-cart-open | remove'>
    <span class='visually-hidden'>{{ 'sections.cart.close' | t }}</span>
</div>
<form action='{{ routes.cart_url }}' method='post' data-ajax-cart-section class='cart-drawer' style='{{ styles }}'>
    <div>
        <h2 class='cart-drawer__head'>{{ 'sections.cart.cart' | t }}</h2>
        <!-- Free shipping progress markup -->
        <div
            class='cart-drawer-shipping__wrapper js-cart-drawer-shipping'
            data-total='{{ shipping_total }}'
        >
            <p class='cart-drawer-shipping__numOuter'>
                {{ 'sections.cart.shipping.outer_first' | t }}
                <span class='cart-drawer-shipping__num'></span> {{ 'sections.cart.shipping.outer_second' | t }}
            </p>
            <p class='cart-drawer-shipping__success'>{{ 'sections.cart.shipping.success' | t }}</p>
            <div class='cart-drawer-shippingThreshold__bar'>
                <span class='cart-drawer-shippingThreshold__progress'></span>
            </div>
        </div>
        <a
            class='cart-drawer__icon-close'
            href='#CartDrawerClose'
            aria-label='CartDrawerClose'
            data-ajax-cart-toggle-class-button='js-ajax-cart-open | remove'
        >
            {% render 'icon-close' %}
        </a>
    </div>
    {% if cart.item_count == 0 %}
        <div class='cart-drawer__empty'>{{ 'sections.cart.empty' | t }}</div>
    {% endif %}
    <div class='cart-drawer__items' data-ajax-cart-section-scroll>
        {% for item in cart.items %}
            <div class='ajax-cart__line-item'>
                <div class='ajax-cart-item__media'>
                    {% if item.image %}
                        {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                        <a href='{{ item.url }}' class='ajax-cart-item__link' aria-hidden='true' tabindex='-1'>
                            <div class='ajax-cart-item__image-container media media__size--{{ size  }}'>
                                <img
                                    src='{{ item.image | image_url: width: 300 }}'
                                    class='ajax-cart-item__image media__image'
                                    alt='{{ item.image.alt | escape }}'
                                    loading='lazy'
                                    width='150'
                                    height='{{ 150 | divided_by: item.image.aspect_ratio | ceil }}'
                                >
                            </div>
                        </a>
                    {% endif %}
                </div>
                <div class='ajax-cart-item__details'>
                    <p class='ajax-cart-caption'>{{ item.product.vendor }}</p>
                    <h4 class='ajax-cart-item__name'>
                        <a href='{{ item.url }}' class='break'>
                            {{- item.product.title | escape -}}
                        </a>
                    </h4>
                    {%- if item.original_price != item.final_price -%}
                        <div class='ajax-cart-item__discounted-prices'>
                            <span class='visually-hidden'>
                                {{ 'sections.cart.price.regular_price' | t }}
                            </span>
                            <s class='ajax-cart-item__old-price product-option'>
                                {{- item.original_price | money -}}
                            </s>
                            <span class='visually-hidden'>
                                {{ 'sections.cart.price.sale_price' | t }}
                            </span>
                            <strong class='ajax-cart-item__final-price product-option'>
                                {{ item.final_price | money }}
                            </strong>
                        </div>
                    {%- else -%}
                        <div class='ajax-cart-item__price'>
                            {{ item.original_price | money }}
                        </div>
                        <s class='ajax-cart-item__price-sale'></s>
                    {%- endif -%}
                    {%- if item.product.has_only_default_variant == false
                        or item.properties.size != 0
                        or item.selling_plan_allocation != null
                    -%}
                        <div class='ajax-cart-product-options'>
                            {%- if item.product.has_only_default_variant == false -%}
                                <div class='ajax-cart-product-option'>
                                    {%- for option in item.options_with_values -%}
                                        {% if forloop.index == 1 %}
                                            <span>{{ option.value }}</span>
                                        {% else %}
                                            <span>\ {{ option.value }} </span>
                                        {% endif %}
                                    {%- endfor -%}
                                </div>
                            {%- endif -%}

                            {%- for property in item.properties -%}
                                {%- assign property_first_char = property.first | slice: 0 -%}
                                {%- if property.last != blank and property_first_char != '_' -%}
                                    <div class='ajax-cart-product-option'>
                                        <dt>{{ property.first }}:</dt>
                                        <dd>
                                            {%- if property.last contains '/uploads/' -%}
                                                <a href='{{ property.last }}' class='link' target='_blank'>
                                                    {{ property.last | split: '/' | last }}
                                                </a>
                                            {%- else -%}
                                                {{ property.last }}
                                            {%- endif -%}
                                        </dd>
                                    </div>
                                {%- endif -%}
                            {%- endfor -%}
                        </div>

                        <p class='ajax-cart-product-option'>{{ item.selling_plan_allocation.selling_plan.name }}</p>
                    {%- endif -%}

                    <ul
                        class='ajax-cart-discounts list-unstyled'
                        role='list'
                        aria-label='{{ 'customer.order.discount' | t }}'
                    >
                        {%- for discount in item.discounts -%}
                            <li class='discounts__discount'>
                                {%- render 'icon-discount' -%}
                                {{ discount.title }}
                            </li>
                        {%- endfor -%}
                    </ul>
                    <div class='ajax-cart-item__quantity'>
                        <div class='ajax-cart-item__quantity-wrapper'>
                            <label class='visually-hidden' for='Quantity-{{ item.index | plus: 1 }}'>
                                {{ 'sections.cart.quantity' | t }}
                            </label>
                            <a
                                href='{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | minus: 1 }}'
                                class='ajax-cart__quantity-button ajax-cart__quantity-button--minus'
                                data-ajax-cart-request-button
                            >
                                {% render 'icon-minus' %}
                            </a>
                            <input
                                class='ajax-cart-drawer__input cart-drawer__input--qty'
                                type='number'
                                value='{{ item.quantity }}'
                                min='0'
                                name='updates[]'
                                data-ajax-cart-quantity-input='{{ forloop.index }}'
                            >
                            <a
                                href='{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity={{ item.quantity | plus: 1 }}'
                                class='ajax-cart__quantity-button ajax-cart__quantity-button--plus'
                                data-ajax-cart-request-button
                            >
                                {% render 'icon-plus' %}
                            </a>
                        </div>
                        <div data-ajax-cart-messages='{{ item.key }}'></div>
                    </div>
                    <div class='ajax-cart-total'>
                        {{ 'sections.cart.total' | t }}
                        {% if item.original_line_price != item.final_line_price %}
                            <del>{{ item.original_line_price | money }}</del>
                            {{ item.final_line_price | money }}
                        {% else %}
                            {{ item.original_line_price | money }}
                        {% endif %}
                    </div>
                    <div class='ajax-cart-remove'>
                        <a
                            href='{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0'
                            class='ajax-cart__remove-button'
                            data-ajax-cart-request-button
                        >
                            <small>{{ 'sections.cart.remove' | t }}</small>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div id='cart-recommend' data-ajax-cart-static-element data-size='{{ size }}'>
            <span class='visually-hidden'>{{ 'sections.cart.recommend' | t }}</span>
        </div>
    </div>
    <div class='cart-drawer__foter'>
        <div
            class='cart-drawer__footer-toggler h3'
            onclick="javascript:document.body.classList.toggle('cart-drawer-show-footer')"
        >
            {% render 'icon-plus' %}
            {% render 'icon-minus' %}
            {{ 'sections.cart.comments' | t }}
        </div>
        <div class='cart-drawer__footer-content'>
            <label class='cart-drawer__footer-title h4' for='cart_note'>{{ 'sections.cart.note' | t }}</label>
            <textarea id='cart-drawer_note' name='note' data-ajax-cart-property-input>{{ cart.note }}</textarea>

            <div class='cart-drawer__footer-title h4'>{{ 'sections.cart.attributes' | t }}</div>
            <div class='cart-drawer__property'>
                <span class='cart-drawer__property-label'>{{ 'sections.cart.package' | t }}</span>
                <input
                    type='text'
                    name='attributes[Package text]'
                    value='{{ cart.attributes['Package text'] }}'
                    data-ajax-cart-property-input
                    class='cart-drawer__input cart-drawer__input--property'
                >
            </div>

            <div class='cart-drawer__property'>
                <span class='cart-drawer__property-label'>{{ 'sections.cart.delivery_day' | t }}</span>
                <select name='attributes[Delivery day]' data-ajax-cart-property-input>
                    {% assign suggested_days = 'Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday'
                        | split: '|'
                    %}
                    <option
                        value=''
                        {% unless suggested_days contains cart.attributes['Delivery day'] %}
                            selected
                        {% endunless %}
                    >
                        {{ 'sections.cart.any_day' | t }}
                    </option>
                    {% for day in suggested_days %}
                        <option
                            value='{{ day }}'
                            {% if day == cart.attributes['Delivery day'] %}
                                selected
                            {% endif %}
                        >
                            {{ day }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <div class='cart-drawer__property'>
                <span class='cart-drawer__property-label'>{{ 'sections.cart.delivery_time' | t }}</span>
                {% assign suggested_time = 'Any time|Day time|Evening' | split: '|' %}
                {% for time in suggested_time %}
                    <label>
                        <input
                            name='attributes[Delivery time]'
                            type='radio'
                            value='{{ time }}'
                            data-ajax-cart-property-input
                            {% if cart.attributes['Delivery time'] == time %}
                                checked
                            {% endif %}
                        >
                        {{ time }}
                    </label>
                {% endfor %}
            </div>

            <div class='cart-drawer__property'>
                <span class='ajax-cart__property-label'></span>
                <label>
                    <input
                        type='hidden'
                        value=''
                        name='attributes[Leave at the door]'
                        data-ajax-cart-property-input
                    >
                    <input
                        type='checkbox'
                        name='attributes[Leave at the door]'
                        value='Yes'
                        data-ajax-cart-property-input
                        {% if cart.attributes['Leave at the door'] == 'Yes' %}
                            checked
                        {% endif %}
                    >
                    {{ 'sections.cart.leave' | t }}
                </label>
            </div>
        </div>
        <button type='submit' name='checkout' class='cart-drawer__checkout-btn'>
            {{ 'sections.cart.checkout' | t }} — {{ cart.total_price | money_with_currency }}
        </button>
    </div>
</form>

{% assign amount_format = '{{amount}}' %}

<script type='text/javascript'>
    Shopify.money_format = '${{amount_format}}'
</script>
<script type='application/json' data-ajax-cart-initial-state>
    {{ cart | json }}
</script>

<script type='module'>
    import { subscribeToCartAjaxRequests, cartRequestAdd, cartRequestChange, cartRequestUpdate, subscribeToCartStateUpdate } from '{{ 'ajax-cart.js' | asset_url }}';
</script>
<script src='{{ 'cart-drawer.js' | asset_url }}' defer='defer'></script>

{% schema %}
{
    "name": "Cart Drawer",
    "settings": [
        {
            "type": "number",
            "id": "shipping_total",
            "label": "Shipping Total",
            "default": 1000
        },
        {
            "type": "select",
            "id": "img_size",
            "label": "Image size",
            "options": [
                {
                    "value": "cropped",
                    "label": "Cropped"
                },
                {
                    "value": "landscape",
                    "label": "Landscape"
                },
                {
                    "value": "square",
                    "label": "Square"
                },
                {
                    "value": "portrait",
                    "label": "Portrait"
                },
                {
                    "value": "circle",
                    "label": "Circle"
                }
            ]
        },
        {
            "type": "header",
            "content": "Style Options"
        },
        {
            "type": "color",
            "id": "background_color",
            "default": "#F5F5F5",
            "label": "Background color"
        },
        {
            "type": "color",
            "id": "title_color",
            "default": "#2e3131",
            "label": "Title color"
        },
        {
            "type": "color",
            "id": "text_color",
            "default": "#696e6e",
            "label": "Text color"
        },
        {
            "type": "color",
            "id": "link_color",
            "default": "#34495e",
            "label": "Link color"
        },
        {
            "type": "color",
            "id": "link_hover_color",
            "default": "#ec7163",
            "label": "Link hover color"
        },
        {
            "type": "color",
            "id": "divider_color",
            "default": "#4d4d4d",
            "label": "Divider color"
        },
        {
            "type": "text",
            "id": "prod_title",
            "label": "Heading",
            "default": "Popular Product"
        },
        {
            "id": "prod_collection",
            "type": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "prod_limit",
            "label": "Posts",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 3
        },
        {
            "type": "checkbox",
            "id": "prod_show_vendor",
            "label": "Show vendor",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "prod_show_image",
            "label": "Show cover image",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_view_all",
            "label": "Show 'View all' button",
            "default": false
        }
    ]
}
{% endschema %}
