{% liquid
    assign style = section.settings.style
    assign background_color = section.settings.background_color
    assign title_color = section.settings.title_color
    assign text_color = section.settings.text_color
    assign title = section.settings.title
    assign text = section.settings.text
    assign button_text = section.settings.button_text | default: 'Accept'
    assign button_style = section.settings.button_style
%}

{{ 'section-cookie-notice.css' | asset_url | stylesheet_tag }}

<script src="{{ 'cookie-notice.js' | asset_url }}" defer="defer"></script>

{%- capture styles -%}
  --cookie-policy-background-color: {{ background_color }};
  --cookie-policy-title-color: {{ title_color }};
  --cookie-policy-text-color: {{ text_color }};
{%- endcapture -%}
{%- assign styles = styles | strip_newlines -%}

{% if text != blank %}
    <cookie-policy>
        <div style="{{ styles }}" class="cookie-policy js-cookie-policy cookie-policy--{{ style }}">
            <div class="cookie-policy__wrapper container">
                <div class="cookie-policy__text-wrapper">
                    {% if title != blank %}
                        <h5 class="cookie-policy__title">
                            {{ title }}
                        </h5>
                    {% endif %}

                    <div class="cookie-policy__text">
                        {{ text }}
                    </div>
                </div>

                <div class="cookie-policy__button-wrapper">
                    <button class="cookie-policy__button button js-cookie-policy-button button button--{{ button_style }}">
                        {{ button_text }}
                    </button>
                </div>
            </div>
        </div>
    </cookie-policy>
{% endif %}

{% schema %}
{
    "name": "t:sections.cookie_police.name",
    "settings": [
        {
            "type": "select",
            "id": "style",
            "options": [
                {
                    "value": "option-1",
                    "label": "t:sections.cookie_police.settings.style.options.option_1.label"
                },
                {
                    "value": "option-2",
                    "label": "t:sections.cookie_police.settings.style.options.option_2.label"
                }
            ],
            "label": "t:sections.cookie_police.settings.style.label",
            "default": "option-1"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "t:sections.cookie_police.settings.background_color.label"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "t:sections.cookie_police.settings.title_color.label"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.cookie_police.settings.text_color.label"
        },
        {
            "type": "text",
            "id": "title",
            "label": "t:sections.cookie_police.settings.title.label"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "t:sections.cookie_police.settings.text.label"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "t:sections.cookie_police.settings.button_text.label"
        },
        {
            "type": "select",
            "id": "button_style",
            "options": [
                {
                    "value": "primary",
                    "label": "t:sections.cookie_police.settings.button_style.options.primary.label"
                },
                {
                    "value": "secondary",
                    "label": "t:sections.cookie_police.settings.button_style.options.secondary.label"
                }
            ],
            "label": "t:sections.cookie_police.settings.button_style.label"
        }
    ]
}
{% endschema %}
