{% liquid
	assign full_width = section.settings.full_width
	assign bg_color = section.settings.bg_color | default: 'transparent'
	assign bg_caption = section.settings.bg_caption | default: 'transparent'
	assign bg_caption_opacity = section.settings.opacity | times: 0.1

	assign text_color = section.settings.text_color | default: 'inherit'
	assign title_color = section.settings.title_color | default: 'inherit'
	assign subtitle_color = section.settings.subtitle_color | default: 'inherit'

	assign pad_top = section.settings.padding_top
	assign pad_bot = section.settings.padding_bottom

	assign width = section.settings.width
%}

{% capture styles %}
	--bg-color-featured-list-banners: {{ bg_color }};
	--bg-caption-featured-list-banners: {{ bg_caption }};
	--bg-opacity-featured-list-banners: {{ bg_caption_opacity }};
	--sub-title-color-featured-list-banners: {{ subtitle_color }};
	--title-color-featured-list-banners: {{ title_color }};
	--text-color-featured-list-banners: {{ text_color }};
	
	--pad-top-featured-list-banners: {{ pad_top }}px;
	--pad-bot-featured-list-banners: {{ pad_bot }}px;
	--width-featured-list-banners: {{ width }}px;
{% endcapture %}

{%- assign styles = styles | strip_newlines -%}

{{ 'section-featured-list-banners.css' | asset_url | stylesheet_tag }}

<div class="featured-list-banners full_width--{{ full_width }}" style="{{ styles }}">
	{% liquid
		assign big_50 = section.blocks | where: 'type', 'big_50'
		assign two_big_50 = section.blocks | where: 'type', 'two_big_50'

		
		if big_50.size > 0 and two_big_50 .size > 0
			render 'list-banner-two_big_50' , blocks: big_50 , two_blocks: two_big_50 , settings: section.settings
		else if big_50.size > 0
			render 'list-banner-big_50' , blocks: big_50 , settings: section.settings
		endif
	%}

		{% for block in section.blocks %}
			{% case block.type %}
				{% when 'big_50' %}
					
				{% when 'big_66' %}

					<div class="col-sm-9 grid__item two-thirds banner_{{ block.type }}">
						<div class="banner_item">
							{% if block.settings.item_link.size > 0 %}
								<a class="banner_caption" href="{{ block.settings.item_link }}">
							{% endif %}
							{% if block.settings.item_img.size > 0 %}
								<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }}" style="background-image: url( {{ block.settings.item_img | img_url: img_size, crop: block.settings.img_alignment }} );"></span>
							{% else %}
								<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }} svg_tag">
									{{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
								</span>
							{% endif %}
								{% if block.settings.item_subtitle.size > 0 or block.settings.item_title.size > 0 or block.settings.item_text.size > 0 or  block.settings.button_text.size > 0 %}
								<div class="caption_text">
									{% if block.settings.item_subtitle.size > 0 %}
										<span class="banner_subtitle">{{ block.settings.item_subtitle }}</span>
									{% endif %}

									{% if block.settings.item_title.size > 0 %}
										<div class="banner_title">{{ block.settings.item_title }}</div>
									{% endif %}

									{% if block.settings.item_text.size > 0 %}
										<p class="banner_text">{{ block.settings.item_text }}</p>
									{% endif %}

									{% if block.settings.item_link.size > 0 and block.settings.button_text.size > 0 %}
										<span class="btn banner_btn">{{ block.settings.button_text }}</span>
									{% endif %}
								</div>
							{% endif %}
							{% if block.settings.item_link.size > 0 %}
								</a>
							{% endif %}	
						</div>
					</div>

				{% when 'big_66_3item' %}

					<div class="col-sm-9 grid__item two-thirds banner_{{ block.type }}">
						<div class="grid">
							
						<div class="banner_item banner_left one-half grid__item"><div class="box-hidden">

							{% if block.settings.item1_link.size > 0 %}
								<a class="banner_caption" href="{{ block.settings.item1_link }}">
							{% endif %}
							{% if block.settings.item1_img.size > 0 %}
								<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }}" style="background-image: url( {{ block.settings.item1_img | img_url: img_size_left, crop: block.settings.img1_alignment }} );"></span>
							{% else %}
								<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }} svg_tag">
									{{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
								</span>
							{% endif %}
							{% if block.settings.item1_subtitle.size > 0 or block.settings.item1_title.size > 0 %}
								<div class="caption_text">
									{% if block.settings.item1_subtitle.size > 0 %}
										<span class="banner_subtitle">{{ block.settings.item1_subtitle }}</span>
									{% endif %}
									{% if block.settings.item1_title.size > 0 %}
										<div class="banner_title">{{ block.settings.item1_title }}</div>
									{% endif %}	
								</div>
							{% endif %}	
							{% if block.settings.item1_link.size > 0 %}
								</a>
							{% endif %}	
						</div></div>
						
						<div class="banner_item banner_right one-half grid__item"><div class="box-hidden">
							{% if block.settings.item2_link.size > 0 %}
								<a class="banner_caption" href="{{ block.settings.item2_link }}">
							{% endif %}
							{% if block.settings.item2_img.size > 0 %}
								<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }}" style="background-image: url( {{ block.settings.item2_img | img_url: img_size_right, crop: block.settings.img2_alignment }} );"></span>
							{% else %}
								<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }} svg_tag">
									{{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
								</span>
							{% endif %}

							{% if block.settings.item2_subtitle.size > 0 or block.settings.item2_title.size > 0 %}
								<div class="caption_text">
									{% if block.settings.item2_subtitle.size > 0 %}
										<span class="banner_subtitle">{{ block.settings.item2_subtitle }}</span>
									{% endif %}
									{% if block.settings.item2_title.size > 0 %}
										<div class="banner_title">{{ block.settings.item2_title }}</div>
									{% endif %}	
								</div>
							{% endif %}	
							{% if block.settings.item2_link.size > 0 %}
								</a>
							{% endif %}	
						</div></div>
						</div>
						<div class="banner_item banner_bottom">
							{% if block.settings.item3_link.size > 0 %}
								<a class="banner_caption" href="{{ block.settings.item3_link }}">
							{% endif %}
							{% if block.settings.item3_img.size > 0 %}
								<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }}" style="background-image: url( {{ block.settings.item3_img | img_url: img_size_bottom, crop: block.settings.img3_alignment }} );"></span>
							{% else %}
								<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }} svg_tag">
									{{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
								</span>
							{% endif %}

							{% if block.settings.item3_subtitle.size > 0 or block.settings.item3_title.size > 0 %}
								<div class="caption_text">
									{% if block.settings.item3_subtitle.size > 0 %}
										<span class="banner_subtitle">{{ block.settings.item3_subtitle }}</span>
									{% endif %}
									{% if block.settings.item3_title.size > 0 %}
										<div class="banner_title">{{ block.settings.item3_title }}</div>
									{% endif %}	
								</div>
							{% endif %}	
							{% if block.settings.item3_link.size > 0 %}
								</a>
							{% endif %}	
						</div>
					</div>

						
				{% when 'two_big_50' %}


				{% when 'two_small_25' %}

					<div class="col-sm-3 grid__item one-quarter banner_{{ block.type }}">
						<div class="banner_item">
							<div class="bammer_item_1">
							{% if block.settings.item_link.size > 0 %}
							<a class="banner_caption" href="{{ block.settings.item_link }}">
							{% endif %}
								{% if block.settings.item_img.size > 0 %}
									<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }}" style="background-image: url( {{ block.settings.item_img | img_url: img_size, crop: block.settings.img_alignment }} );"></span>
								{% else %}
									<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }} svg_tag">
										{{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
									</span>
								{% endif %}
								{% if block.settings.item_text.size > 0 %}
									<span class="caption_title">{{ block.settings.item_text }}</span>
								{% endif %}

								{% if block.settings.item_link.size > 0 %}	
								</a>
								{% endif %}
							</div>
							<div class="bammer_item_2">
								{% if block.settings.item_link.size > 0 %}
								<a class="banner_caption" href="{{ block.settings.item_link2 }}">
								{% endif %}
								{% if block.settings.item2_img.size > 0 %}
									<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }}" style="background-image: url( {{ block.settings.item2_img | img_url: img_size, crop: block.settings.img2_alignment }} );"></span>
								{% else %}
									<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }} svg_tag">
										{{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
									</span>
								{% endif %}							
									{% if block.settings.item_text2.size > 0 %}
										<span class="caption_title">{{ block.settings.item_text2 }}</span>
									{% endif %}
								{% if block.settings.item_link.size > 0 %}	
								</a>
								{% endif %}
							</div>
						</div>
					</div>

				{% when 'one_small_33' %}

					<div class="col-sm-3 grid__item one-third banner_{{ block.type }}">
						<div class="banner_item">
							{% if block.settings.item_link.size > 0 %}
							<a href="{{ block.settings.item_link }}" class="banner_caption">
							{% endif %}
							{% if block.settings.item_img.size > 0 %}
								<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }}" style="background-image: url( {{ block.settings.item_img | img_url: img_size, crop: block.settings.img_alignment }} );"></span>
							{% else %}
								<span class="img_placeholder__wrap img_placeholder__{{ section.settings.section_height }} svg_tag">
									{{ 'image' | placeholder_svg_tag: 'img_placeholder' }}
								</span>
							{% endif %}
							{% if block.settings.item_subtitle.size > 0 or block.settings.item_title.size > 0 %}
							<div class="caption_text">
								{% if block.settings.item_subtitle.size > 0 %}
									<span class="banner_subtitle">{{ block.settings.item_subtitle }}</span>
								{% endif %}

								{% if block.settings.item_title.size > 0 %}
									<div class="banner_title">{{ block.settings.item_title }}</div>
								{% endif %}
							</div>
							{% endif %}
							{% if block.settings.item_link.size > 0 %}
							</a>
							{% endif %}
						</div>
					</div>
			{% endcase %}
		{% endfor %}
</div>

{% schema %}
{
	"name": "List Banners",
	"class": "index-section",
	"settings": [
		{
            "type": "color",
            "id": "bg_color",
            "label": "Background color"
        },
		{
			"type": "select",
			"id": "img_size",
			"label": "Image size",
			"options": [
				{
					"value": "cropped",
					"label": "Cropped"
				},
				{
					"value": "landscape",
					"label": "Landscape"
				},
				{
					"value": "square",
					"label": "Square"
				},
				{
					"value": "portrait",
					"label": "Portrait"
				},
				{
					"value": "circle",
					"label": "Circle"
				}
			]
		},
		{
			"type": "checkbox",
			"id": "full_width",
			"default": false,
			"label": "Enabled full width?"
		},
		{
            "type": "range",
            "id": "width",
            "min": 1000,
            "max": 1800,
            "step": 40,
            "default": 1200,
            "unit": "px",
            "label": "Section Width"
        },
		{
            "type": "color",
            "id": "bg_caption",
            "label": "Background caption"
        },
        {
            "type": "range",
            "label": "Background caption opacity",
            "id": "opacity",
            "min": 1,
            "max": 10,
            "step": 1,
            "default": 10
        },
		{
			"type": "paragraph",
			"content": "Style options for mobile"
		},
        {
            "type": "color",
            "id": "title_color",
            "label": "Title color"
        },
		{
            "type": "color",
            "id": "subtitle_color",
            "label": "Sub title color"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color"
        },
		{
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 60,
            "step": 5,
            "unit": "px",
            "label": "Padding top",
            "default": 30
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 60,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom",
            "default": 30
        }
	],
	"blocks": [
		// BIG BANNER 50%  //////////////////////////////////////////////////////////////////////////////////////////
		{
			"type": "big_50",
			"name": "Big banner(50%)",
			"limit": 2,
			"settings": [
				{
					"type": "image_picker",
					"id": "item_img",
					"label": "Banner image"
				},
				{
					"type": "text",
					"id": "item_subtitle",
					"label": "Caption subtitle"
				},
				{
					"type": "text",
					"id": "item_title",
					"label": "Caption title"
				},
				{
					"type": "richtext",
					"id": "item_text",
					"label": "Caption text"
				},
				{
					"type": "url",
					"id": "item_link",
					"label": "Link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button text"
				},
				{
					"type": "select",
					"id": "block_position",
					"options": [
						{
							"value": "top-left",
							"label": "Top-left"
						},
						{
							"value": "top-middle",
							"label": "Top-middle"
						},
						{
							"value": "top-right",
							"label": "Top-right"
						},
						{
							"value": "middle-left",
							"label": "Middle-left"
						},
						{
							"value": "middle-middle",
							"label": "Middle-middle"
						},
						{
							"value": "middle-right",
							"label": "Middle-right"
						},
						{
							"value": "bottom-left",
							"label": "Bottom-left"
						},
						{
							"value": "bottom-middle",
							"label": "Bottom-middle"
						},
						{
							"value": "bottom-right",
							"label": "Bottom-right"
						}
					],
					"default": "bottom-left",
					"label": "Desktop block position"
				},
				{
					"type": "select",
					"id": "text_alignment",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						}
					],
					"default": "left",
					"label": "Text alignment"
				},
				{
                    "type": "select",
                    "id": "style",
                    "label": "Style caption",
                    "options": [
                        {
                            "value": "style-1",
                            "label": "Style 1"
                        },
                        {
                            "value": "style-2",
                            "label": "Style 2"
                        }
                    ]
                }
			]
		},
		// TWO BIG BANNERS 50%  //////////////////////////////////////////////////////////////////////////////////////////
		{
			"type": "two_big_50",
			"name": "Two big banners(50%)",
			"limit": 2,
			"settings": [
				{
					"type": "select",
					"id": "block_position",
					"options": [
						{
							"value": "top-left",
							"label": "Top-left"
						},
						{
							"value": "top-middle",
							"label": "Top-middle"
						},
						{
							"value": "top-right",
							"label": "Top-right"
						},
						{
							"value": "middle-left",
							"label": "Middle-left"
						},
						{
							"value": "middle-middle",
							"label": "Middle-middle"
						},
						{
							"value": "middle-right",
							"label": "Middle-right"
						},
						{
							"value": "bottom-left",
							"label": "Bottom-left"
						},
						{
							"value": "bottom-middle",
							"label": "Bottom-middle"
						},
						{
							"value": "bottom-right",
							"label": "Bottom-right"
						}
					],
					"default": "bottom-left",
					"label": "Desktop block position"
				},
				{
					"type": "select",
					"id": "text_alignment",
					"options": [
						{
							"value": "left",
							"label": "Left"
						},
						{
							"value": "center",
							"label": "Center"
						},
						{
							"value": "right",
							"label": "Right"
						}
					],
					"default": "left",
					"label": "Text alignment"
				},
				{
                    "type": "select",
                    "id": "style",
                    "label": "Style caption",
                    "options": [
                        {
                            "value": "style-1",
                            "label": "Style 1"
                        },
                        {
                            "value": "style-2",
                            "label": "Style 2"
                        }
                    ]
                },
				{
					"type": "paragraph",
					"content": "Banner 1"
				},
				{
					"type": "image_picker",
					"id": "item_img",
					"label": "Banner 1 image"
				},
				{
					"type": "url",
					"id": "item_link",
					"label": "Banner 1 link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "item_subtitle",
					"label": "Banner 1 subtitle"
				},
				{
					"type": "text",
					"id": "item_title",
					"label": "Banner 1 title"
				},
				{
					"type": "text",
					"id": "item_button_text",
					"label": "Banner 1 button text"
				},
				
				{
					"type": "paragraph",
					"content": "Banner 2"
				},
				{
					"type": "image_picker",
					"id": "item2_img",
					"label": "Banner 2 image"
				},
				{
					"type": "url",
					"id": "item2_link",
					"label": "Banner 2 link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "item2_subtitle",
					"label": "Banner 2 subtitle"
				},
				{
					"type": "text",
					"id": "item2_title",
					"label": "Banner 2 title"
				},
				{
					"type": "text",
					"id": "item2_button_text",
					"label": "Banner 2 button text"
				}
				
			]
		},

		// BIG BANNER 66% //////////////////////////////////////////////////////////////////////////////////////////
		{
			"type": "big_66",
			"name": "Big banner(66%)",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "img_alignment",
					"label": "Image alignment",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "item_img",
					"label": "Banner image"
				},
				{
					"type": "text",
					"id": "item_subtitle",
					"label": "Caption subtitle"
				},
				{
					"type": "richtext",
					"id": "item_title",
					"label": "Caption title"
				},
				
				{
					"type": "text",
					"id": "item_text",
					"label": "Caption text"
				},
				{
					"type": "url",
					"id": "item_link",
					"label": "Link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button text"
				}
			]
		},


		// BIG BANNER 66% WITH 3 ITEMS //////////////////////////////////////////////////////////////////////////////////////////
		{
			"type": "big_66_3item",
			"name": "Three banners (66%)",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Left banner"
				},
				{
					"type": "select",
					"id": "img1_alignment",
					"label": "Image alignment",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "item1_img",
					"label": "Banner image (870x381)"
				},
				{
					"type": "text",
					"id": "item1_subtitle",
					"label": "Caption subtitle"
				},
				{
					"type": "richtext",
					"id": "item1_title",
					"label": "Caption title"
				},				
				
				{
					"type": "url",
					"id": "item1_link",
					"label": "Link",
					"info": "Optional"
				},
				
				
				{
					"type": "header",
					"content": "Right banner"
				},
				{
					"type": "select",
					"id": "img2_alignment",
					"label": "Image alignment",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "item2_img",
					"label": "Banner image (870x381)"
				},
				{
					"type": "text",
					"id": "item2_subtitle",
					"label": "Caption subtitle"
				},

				{
					"type": "richtext",
					"id": "item2_title",
					"label": "Caption title"
				},
				{
					"type": "url",
					"id": "item2_link",
					"label": "Link",
					"info": "Optional"
				},

				{
					"type": "header",
					"content": "Bottom banner"
				},
				{
					"type": "select",
					"id": "img3_alignment",
					"label": "Image alignment",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "item3_img",
					"label": "Banner image (870x381)"
				},
				{
					"type": "text",
					"id": "item3_subtitle",
					"label": "Caption subtitle"
				},
				{
					"type": "richtext",
					"id": "item3_title",
					"label": "Caption title"
				},
				{
					"type": "url",
					"id": "item3_link",
					"label": "Link",
					"info": "Optional"
				}
			]
		},

		// TWO SMALL BANNERS 25%  //////////////////////////////////////////////////////////////////////////////////////////
		{
			"type": "two_small_25",
			"name": "Two small banners(25%)",
			"settings": [
				{
					"type": "paragraph",
					"content": "Banner 1"
				},
				{
					"type": "select",
					"id": "img_alignment",
					"label": "Image alignment",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "item_img",
					"label": "Banner 1 image"
				},
				
				{
					"type": "url",
					"id": "item_link",
					"label": "Banner 1 link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "item_text",
					"label": "Banner 1 caption"
				},
				{
					"type": "paragraph",
					"content": "Banner 2"
				},
			    {
					"type": "select",
					"id": "img2_alignment",
					"label": "Image alignment",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "item2_img",
					"label": "Banner 2 image"
				},
				
				{
					"type": "url",
					"id": "item2_link",
					"label": "Banner 2 link",
					"info": "Optional"
				},
				{
					"type": "text",
					"id": "item_text2",
					"label": "Banner 2 caption"
				}
			]
		},

		// ONE SMALL BANNER 33%  //////////////////////////////////////////////////////////////////////////////////////////
		{
			"type": "one_small_33",
			"name": "One small banner(33%)",
			"settings": [
				{
					"type": "select",
					"id": "img_alignment",
					"label": "Image alignment",
					"options": [
						{
							"value": "top",
							"label": "Top"
						},
						{
							"value": "center",
							"label": "Middle"
						},
						{
							"value": "bottom",
							"label": "Bottom"
						}
					]
				},
				{
					"type": "image_picker",
					"id": "item_img",
					"label": "Banner image"
				},
				{
					"type": "text",
					"id": "item_subtitle",
					"label": "Banner subtitle"
				},
				{
					"type": "richtext",
					"id": "item_title",
					"label": "Banner title"
				},
				{
					"type": "url",
					"id": "item_link",
					"label": "Link",
					"info": "Optional"
				}
			]
		}
	],
	"presets": [
		{
			"name": "List Banners",
			"category": "Image",
			"blocks": [
				{
					"type": "big_50"
				},
				{
					"type": "big_50"
				}
			]
		}
	]
}
{% endschema %}
