{%- liquid
    assign collage = section.settings.layout_collage
    assign post = section.settings.post_per_page
    assign load_more = section.settings.load_more
    assign full_width = section.settings.full_width
    assign img_size = section.settings.img_size
    assign content_alignment = section.settings.content_alignment

    assign background_color = section.settings.block_color | default: 'transparent'
    assign text_color = section.settings.text_color | default: 'inherit'
    assign title_color = section.settings.title_color | default: 'inherit'
    assign link_color = section.settings.link_color | default: 'inherit'

    assign pad_top = section.settings.padding_top
    assign pad_bot = section.settings.padding_bottom
-%}

{%- capture styles -%}
    --title-color-main-blog: {{ title_color }};
    --text-color-main-blog: {{ text_color }};
    --link-color-main-blog: {{ link_color }};
    --background-color-main-blog: {{ background_color }};
    --pad-top-main-blog: {{ pad_top }}px;
    --pad-bot-main-blog: {{ pad_bot }}px;
{%- endcapture -%}

{%- assign styles = styles | strip_newlines -%}

{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
<div class="main-blog-page full_width--{{ full_width }} content--{{ content_alignment }}" style="{{ styles }}">
    <div class="container">
        {% if current_tags %}
            {%- liquid
                assign tags_link = canonical_url
                assign tags_link = tags_link | split: 'tagged/'
                assign tags_link = tags_link[1]
                assign tags_name = tags_link | split: '+'
            -%}
            <ul class="main-blog_tags">
                <li>
                    <span class="main-blog__title-filter"> {{ 'blogs.filter' | t }}: </span>
                </li>
                {%- for tag_name in tags_name -%}
                    <li>
                        {%- liquid
                            assign links_current = ''

                            assign links_tag = tags_link | split: '+'
                            for link_tag in links_tag
                                if link_tag != tag_name
                                    assign links_current = links_current | append: link_tag | append: '+'
                                endif
                            endfor
                            assign links_current = links_current | split: '+'
                            assign url_current = ''

                            for link_current in links_current
                                if forloop.last == true
                                    assign url_current = url_current | append: link_current
                                else
                                    assign url_current = url_current | append: link_current | append: '+'
                                endif
                            endfor
                        -%}
                        {%- liquid
                            if url_current != blank
                                assign href = blog.url | append: '/tagged/' | append: url_current
                            else
                                assign href = blog.url
                            endif
                        -%}

                        <a class="main-blog__tags--link utility" href="{{ href }}">
                            {% assign filter_name = tag_name | camelcase %}
                            {% for tag in blog.tags %}
                                {% assign compare_name = tag | camelcase %}
                                {% if filter_name contains compare_name %}
                                    {{ tag }}
                                {% endif %}
                            {%- endfor -%}
                            {% render 'icons-svg', icons: 'close' %}
                        </a>
                    </li>
                {%- endfor -%}
                <li>
                    <a class="main-blog__tags--clear utility" href="{{ blog.url }}">{{ 'blogs.clear' | t }}</a>
                </li>
            </ul>
        {% endif %}

        <div class="main-blog js-blog-post-grid">
            {%- paginate blog.articles by post -%}
                <div
                    id="main-blog-post-grid"
                    class="blog-articles{% if collage %} blog-articles__layout--{{ collage }}{% endif %}"
                    data-id="{{ section.id }}"
                >
                    {%- for article in blog.articles -%}
                        <div class="blog-articles__article article article-{{ forloop.index }}">
                            {%- render 'article-card', article: article, show_image: true, img_size: img_size -%}
                        </div>
                    {%- endfor -%}
                </div>
                {%- if paginate.pages > 1 -%}
                    {%- liquid
                        assign current_count = paginate.current_offset | plus: post
                        if current_count > blog.articles_count
                            assign current_count = blog.articles_count
                        endif
                    -%}

                    {% if load_more %}
                        <blog-load-more class="main-blog__load-more-container main-blog__box js-blog-load-more-container">
                            <button
                                type="button"
                                class="main-blog__load-more-button button button--outline js-blog-load-more {% if current_count == blog.articles_count %} hidden{% endif %}"
                            >
                                {{ 'blogs.load_more' | t }}
                            </button>
                            <p class="main-blog__product-count" role="status">
                                {{ 'blogs.post_count_html' | t: post_count: current_count, count: blog.articles_count }}
                            </p>
                        </blog-load-more>
                    {% else %}
                        <div class="main-blog__box">
                            {% render 'pagination', paginate: paginate %}
                            <p class="main-blog__product-count" role="status">
                                {{ 'blogs.post_count_html' | t: post_count: current_count, count: blog.articles_count }}
                            </p>
                        </div>
                    {% endif %}
                {%- endif -%}
            {%- endpaginate -%}
        </div>
    </div>
</div>

<script src="{{ 'main-blog.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
    "name": "t:sections.main-blog.name",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
        {
            "type": "range",
            "id": "post_per_page",
            "min": 1,
            "max": 24,
            "step": 1,
            "default": 12,
            "label": "t:sections.main-blog.settings.post_per_page.label"
        },
        {
            "type": "checkbox",
            "id": "layout_collage",
            "label": "t:sections.main-blog.settings.layout_collage.label",
            "default": false
        },
        {
            "type": "select",
            "id": "img_size",
            "label": "Image size",
            "options": [
                {
                    "value": "cropped",
                    "label": "Cropped"
                },
                {
                    "value": "landscape",
                    "label": "Landscape"
                },
                {
                    "value": "square",
                    "label": "Square"
                },
                {
                    "value": "portrait",
                    "label": "Portrait"
                },
                {
                    "value": "circle",
                    "label": "Circle"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "load_more",
            "label": "Use load more",
            "default": false
        },
        {
            "type": "select",
            "id": "content_alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left",
            "label": "Text alignment"
        },
        {
            "type": "paragraph",
            "content": "Style options"
        },
        {
            "type": "color",
            "id": "block_color",
            "label": "Background Color"
        },

        {
            "type": "color",
            "id": "title_color",
            "label": "Title color"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color"
        },
        {
            "type": "color",
            "id": "link_color",
            "label": "Link color"
        },
        {
            "type": "checkbox",
            "id": "full_width",
            "default": false,
            "label": "Enabled full width?"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 60,
            "step": 5,
            "unit": "px",
            "label": "Padding top",
            "default": 30
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 60,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom",
            "default": 30
        }
    ],
    "blocks": [
        {
            "type": "title",
            "name": "t:sections.main-blog.blocks.title.name",
            "limit": 1
        },
        {
            "type": "link",
            "name": "t:sections.main-blog.blocks.link.name",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "label",
                    "default": "Read More",
                    "label": "t:sections.main-blog.blocks.link.settings.text.label"
                }
            ]
        }
    ]
}
{% endschema %}
