{% liquid
    assign fill_image = settings.fill_image
    assign button = settings.button
    assign button_page = settings.button_page
    assign full_width = settings.full_width
    assign content_alignment = settings.content_alignment

    assign add_btn = settings.enable_add_btn
    assign btn = settings.btn
    assign variant_type = settings.variant
    assign prod_img_size = settings.prod_img_size

    assign price_variant = false
    if btn == 'quick'
        assign price_variant = true
    endif

    assign bg_color = section.settings.bg_color | default: 'transparent'
    assign load_more = settings.load_more

    assign text_color = section.settings.text_color | default: 'inherit'
    assign title_color = section.settings.title_color | default: 'inherit'
    assign link_color = section.settings.link_color | default: 'inherit'

    assign img_size = settings.img_size
    assign width = settings.width
    assign pad_top = section.settings.padding_top
    assign pad_bot = section.settings.padding_bottom

    assign bg_post_color = section.settings.bg_post_color | default: 'transparent'
    assign text_post_color = section.settings.text_post_color | default: 'inherit'
    assign title_post_color = section.settings.title_post_color | default: 'inherit'
    assign link_post_color = section.settings.link_post_color | default: 'inherit'

    assign bg_page_color = section.settings.bg_page_color | default: 'transparent'
    assign title_page_color = section.settings.title_page_color | default: 'inherit'
    assign link_page_color = section.settings.link_page_color | default: 'inherit'
%}
{% capture styles %}

    --background-color-search-terms: {{ bg_color }};
    --title-post-color-search-terms: {{ title_color }};
    --text-post-color-search-terms: {{ text_color }};
    --link-post-color-search-terms: {{ link_color }};


    --background-color-featured-posts: {{ bg_post_color }};
    --title-post-color-featured-posts: {{ title_post_color }};
    --text-post-color-featured-posts: {{ text_post_color }};
    --link-post-color-featured-posts: {{ link_post_color }};

    --background-page-color-search-terms: {{ bg_page_color }};
    --title-page-color-search-terms: {{ title_page_color }};
    --link-page-color-search-terms: {{ link_page_color }};

    --width-search-terms: {{ width }}px;
    --pad-top-search-terms: {{ pad_top }}px;
    --pad-bot-search-terms: {{ pad_bot }}px;
{% endcapture %}

{%- assign styles = styles | strip_newlines -%}

{{ 'section-main-search.css' | asset_url | stylesheet_tag }}
{{ 'component-card-post.css' | asset_url | stylesheet_tag }}

{%- liquid
    comment
        This code checks the query param for category which is used to set the active tab. Javascript implementation would have been too late in the squence
    endcomment
    assign type = ''
    assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: request.host | last | replace: '\/', '/' | replace: '%20', ' ' | replace: '\u0026', '&'
    for i in (1..1)
        unless page_url contains '?'
            break
        endunless

        assign query_string = page_url | split: '?' | last
        assign query_parts = query_string | split: '&'

        for part in query_parts
            assign key_and_value = part | split: '='
            if key_and_value.size > 1
                if key_and_value[0] == 'type'
                    assign type = key_and_value[1]
                endif
            endif
        endfor
    endfor
-%}

{%- liquid
    if type == 'article'
        assign post_limit = settings.post_limit
        assign columns_desktop = settings.columns_post
    elsif type == 'page'
        assign post_limit = settings.page_limit
        assign columns_desktop = settings.columns_page
    elsif type == 'product'
        assign post_limit = settings.product_limit
        assign columns_desktop = settings.columns_product
    else
        assign post_limit = settings.product_limit
        assign columns_desktop = settings.columns_product
    endif
-%}

<div class="main-serch-section" style="{{ styles }}">
    <div class="main-search__wrapper">
        <main-search>
            <div class="template-main-search {% unless search.performed and search.results.size > 0 %} template-main-search--empty{% endunless %}">
                <div
                    class="template-main-search__header js-main-search-header"
                >
                    <div class="template-main-search__search">
                        <form
                            action="{{ routes.search_url }}"
                            method="get"
                            role="search"
                            class="search"
                            autocomplete="off"
                        >
                            <div class="field">
                                {%- if type == 'product' -%}
                                    <input name="type" type="hidden" value="product">
                                {%- elsif type == 'article' -%}
                                    <input name="type" type="hidden" value="article">
                                {%- elsif type == 'page' -%}
                                    <input name="type" type="hidden" value="page">
                                {%- else -%}
                                    <input name="sort_by" type="hidden" value="price-ascending">
                                {%- endif -%}
                                <input
                                    class="search__input field__input"
                                    id="SearchInTemplate"
                                    type="search"
                                    name="q"
                                    value="{{ search.terms | escape }}"
                                    autocorrect="off"
                                    autocomplete="off"
                                    spellcheck="false"
                                    placeholder="{%- if search.performed -%}{{ 'templates.search.again' | t }}{%- else -%}{{ 'sections.search.placeholder' | t }}{%- endif -%}"
                                >
                                <button class="icon-btn" type="submit" aria-label="Search">
                                    <svg
                                        aria-hidden="true"
                                        focusable="false"
                                        role="presentation"
                                        class="icon icon-plus"
                                        width="19"
                                        height="19"
                                        viewBox="0 0 19 19"
                                        fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
                                    </svg>
                                </button>
                            </div>
                        </form>
                    </div>
                    {%- if search.performed -%}
                        <p class="template-main-search__result_summary" role="status">
                            {%- if search.results_count -%}
                                <span class="js-main-search-count">{{ search.results_count }}</span>
                                {{- 'templates.search.results_with_count.custom' | t: terms: search.terms }}
                            {%- endif -%}
                        </p>
                    {%- endif -%}
                    {%- if search.performed or search.results_count > 0 -%}
                        <div
                            class="template-main-search__wrapper"
                        >
                            <ul class="tabs" role="tablist">
                                <li
                                    {% if type == blank %}
                                        class="active"
                                    {% endif %}
                                >
                                    <a href="{{ routes.search_url }}?sort_by=price-ascending&q={{ search.terms }}">
                                        {{- 'general.search.all_results' | t -}}
                                    </a>
                                </li>
                                <li class="{% if type == 'product'%}active{% endif %}">
                                    <a
                                        href="{{ routes.search_url }}?type=product&q={{ search.terms }}"
                                    >
                                        {{ 'general.search.terms.products' | t }}
                                    </a>
                                </li>
                                <li class="{% if type == 'article'%}active{% endif %}">
                                    <a
                                        href="{{ routes.search_url }}?type=article&q={{ search.terms }}"
                                    >
                                        {{ 'general.search.terms.articles' | t }}
                                    </a>
                                </li>
                                <li class="{% if type == 'page'%}active{% endif %}">
                                    <a
                                        href="{{ routes.search_url }}?type=page&q={{ search.terms }}"
                                    >
                                        {{ 'general.search.terms.pages' | t }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {%- endif -%}
                </div>

                {%- if search.performed or search.results_count > 0 -%}
                    <div class="tabs-content__wrapper">
                        <div
                            id="terms-panel"
                            class="tabs-content full_width--{{ full_width }} content--{{ content_alignment }}"
                            role="tabpanel"
                        >
                            {% paginate search.results by post_limit %}
                                <div
                                    class="container columns--{{ columns_desktop }}"
                                    data-total="{{ search.results_count }}"
                                >
                                    <ul
                                        id="main-search-terms-grid"
                                        class="template-main-search-tabs__list"
                                        data-id="{{ section.id }}"
                                    >
                                        {%- if search.results_count > 0 -%}
                                            {%- for result in search.results -%}
                                                {% if result.object_type == 'product' %}
                                                    <li class="grid__item template-main-search-tabs__item js-main-search-item">
                                                        {% render 'card-product',
                                                            product: result,
                                                            show_vendor: true,
                                                            show_quantity: false,
                                                            use_variant: price_variant,
                                                            variant_type: variant_type,
                                                            add_btn: add_btn,
                                                            btn: btn,
                                                            img_size: prod_img_size,
                                                            image_custom: false,
                                                            fill: false
                                                        %}
                                                    </li>
                                                {% endif %}
                                            {%- endfor -%}

                                            {%- for result in search.results -%}
                                                {%- if result.object_type == 'article' %}
                                                    <li class="grid__item template-main-search-tabs__item grid__item--article js-main-search-item js-main-search-item">
                                                        {% render 'card-post',
                                                            article: result,
                                                            img_size: img_size,
                                                            fill: fill_image,
                                                            label: button
                                                        %}
                                                    </li>
                                                {% elsif result.object_type == 'page' %}
                                                    <li class="grid__item template-main-search-tabs__item js-main-search-item">
                                                        <h5 class="template-main-search-page__title">
                                                            {{ result.title }}
                                                        </h5>
                                                        <div class="template-main-search-page__box">
                                                            <div class="template-main-search-page__content">
                                                                {% render 'icons-svg', icons: 'picture' % %}
                                                            </div>
                                                            <a
                                                                href="{{ result.url }}"
                                                                class="template-main-search-page__link button"
                                                            >
                                                                {{- button_page -}}
                                                            </a>
                                                        </div>
                                                    </li>
                                                {% endif %}
                                            {%- endfor -%}
                                        {%- else -%}
                                            <li class="grid__item--no">
                                                <h3 class="title" role="status">
                                                    {{ 'templates.search.no_results' | t: terms: search.terms }}
                                                </h3>
                                            </li>
                                        {% endif %}
                                    </ul>
                                    {%- if paginate.pages > 1 -%}
                                        {%- liquid
                                            assign current_count = paginate.current_offset | plus: post_limit
                                            if current_count > search.results_count
                                                assign current_count = search.results_count
                                            endif
                                        -%}

                                        {% if load_more %}
                                            <search-load-more class="main-search__load-more-container main-search__box js-search-load-more-container">
                                                <button
                                                    type="button"
                                                    class="main-search__load-more-button button button--secondary button--outline js-search-load-more{% if current_count == search.results_count %} hidden{% endif %}"
                                                >
                                                    {{ 'general.search.load_more' | t }}
                                                </button>

                                                <p class="main-search__product-count" role="status">
                                                    {{
                                                        'general.search.terms_count_html'
                                                        | t: terms_count: current_count, count: search.results_count
                                                    }}
                                                </p>
                                            </search-load-more>
                                        {% else %}
                                            <div class="main-search__box">
                                                {% render 'pagination', paginate: paginate %}
                                                <p class="main-search__product-count" role="status">
                                                    {{
                                                        'general.search.terms_count_html'
                                                        | t: terms_count: current_count, count: search.results_count
                                                    }}
                                                </p>
                                            </div>
                                        {% endif %}
                                    {%- endif -%}
                                </div>
                            {% endpaginate %}
                        </div>
                    </div>
                {%- endif -%}

                <div class="template-main-search__loading-state">
                    <svg
                        aria-hidden="true"
                        focusable="false"
                        role="presentation"
                        class="spinner"
                        viewBox="0 0 66 66"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                    </svg>
                </div>
            </div>
        </main-search>
    </div>
</div>

<script src="{{ 'main-search.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
    "name": "Main Search",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 60,
            "step": 5,
            "unit": "px",
            "label": "Padding top",
            "default": 30
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 60,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom",
            "default": 30
        },
        {
            "type": "header",
            "content": "Style options Product"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title color"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color"
        },
        {
            "type": "color",
            "id": "link_color",
            "label": "Link  color"
        },
        {
            "type": "header",
            "content": "Style options Post"
        },
        {
            "type": "color",
            "id": "bg_post_color",
            "label": "Background post color"
        },
        {
            "type": "color",
            "id": "title_post_color",
            "label": "Title post color"
        },

        {
            "type": "color",
            "id": "text_post_color",
            "label": "Text post color"
        },
        {
            "type": "color",
            "id": "link_post_color",
            "label": "Link post color"
        },
        {
            "type": "header",
            "content": "Style options Page"
        },
        {
            "type": "color",
            "id": "bg_page_color",
            "label": "Background image placeholder"
        },
        {
            "type": "color",
            "id": "title_page_color",
            "label": "Title post color"
        },

        {
            "type": "color",
            "id": "link_page_color",
            "label": "Link post color"
        }
    ]
}
{% endschema %}
