{% liquid
    assign new_badge = section.settings.new_badge
    assign show_vendor = section.settings.show_vendor
    assign show_rating = section.settings.show_rating
    assign add_btn = section.settings.enable_add_btn
    assign btn = section.settings.btn
    assign variant_type = section.settings.variant
    assign prod_img_size = section.settings.prod_img_size
    assign secondary_image = section.settings.show_secondary_image
    assign notify_me = section.settings.notify_me

    assign price_variant = false
    if btn == 'quick'
        assign price_variant = true
    endif

    assign bg_color = section.settings.bg_color | default: 'transparent'

    assign text_color = section.settings.text_color | default: 'inherit'
    assign title_color = section.settings.title_color | default: 'inherit'
    assign link_color = section.settings.link_color | default: 'inherit'

    assign content_alignment = section.settings.content_alignment
    assign full_width = section.settings.full_width

    assign width = section.settings.width
    assign pad_top = section.settings.padding_top
    assign pad_bot = section.settings.padding_bottom
%}

{% capture styles %}
    --background-color-compare: {{ bg_color }};
    --title-post-color-compare: {{ title_color }};
    --text-post-color-compare: {{ text_color }};
    --link-post-color-compare: {{ link_color }};

    --width-compare: {{ width }}px;
    --pad-top-compare: {{ pad_top }}px;
    --pad-bot-compare: {{ pad_bot }}px;
{% endcapture %}

{%- assign styles = styles | strip_newlines -%}

{{ 'section-main-compare.css' | asset_url | stylesheet_tag }}
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
{{ 'component-card-products.css' | asset_url | stylesheet_tag }}

<div class="main-compare-page full_width--{{ full_width }} content--{{ content_alignment }}" style="{{ styles }}">
    <div class="container">
        <page-compare>
            <div class="product-list-container js-list-container" data-size="portrait"></div>
            <h3 class="main-compare-page__title js-page-compare-title">
                {{- 'products.product.no_results_compare' | t -}}
            </h3>
        </page-compare>
    </div>
</div>

<script src="{{ 'main-compare.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
    "name": "Main Page Comparelist",
    "class": "section",
    "settings": [
        {
            "type": "checkbox",
            "id": "full_width",
            "default": false,
            "label": "Enabled full width?"
        },
        {
            "type": "range",
            "id": "width",
            "min": 1000,
            "max": 1800,
            "step": 40,
            "default": 1200,
            "unit": "px",
            "label": "Section Width"
        },
        {
            "type": "select",
            "id": "content_alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left",
            "label": "Text alignment"
        },
        {
            "type": "header",
            "content": "Style options Product"
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color"
        },
        {
            "type": "color",
            "id": "title_color",
            "label": "Title color"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "Text color"
        },
        {
            "type": "color",
            "id": "link_color",
            "label": "Link  color"
        },
        {
            "type": "range",
            "id": "padding_top",
            "min": 0,
            "max": 60,
            "step": 5,
            "unit": "px",
            "label": "Padding top",
            "default": 30
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "min": 0,
            "max": 60,
            "step": 5,
            "unit": "px",
            "label": "Padding bottom",
            "default": 30
        }
    ]
}
{% endschema %}
