{% liquid
    assign logo = section.settings.logo
    assign logo_alt = section.settings.logo.alt | default: shop.name | escape
    assign logo_width = section.settings.logo_width
    assign logo_height = section.settings.settings.logo_width | divided_by: settings.logo.aspect_ratio
    assign bg_image = section.settings.bg_image
    assign header = section.settings.header
    assign message = section.settings.message
    assign password_label = section.settings.password_label
    assign countdown_timer = section.settings.countdown_timer
    assign date_day = section.settings.timer_date_day
    assign date_month = section.settings.timer_date_month
    assign date_year = section.settings.timer_date_year
    assign newslatter_form = section.settings.newslatter_form
    assign social_menu = section.settings.social_menu
%}

{{ 'flipdown.min.css' | asset_url | stylesheet_tag }}
{{ 'main-password.css' | asset_url | stylesheet_tag }}

<div
    {% if bg_image %}
        style="background: url({{ bg_image | image_url: width: '2048x' }} );background-size: cover;"
    {% endif %}
    class="main-password"
>
    <div class="container">
        <div class="main-password__content">
            {% if logo != blank %}
                <h1 class="main-password__logo">
                    <a href="{{ routes.root_url }}" class="main-password__logo-link">
                        {% if logo != blank %}
                            {{
                                logo
                                | image_url: width: section.settings.logo_width
                                | image_tag:
                                    class: 'header__logo',
                                    widths: '50, 100, 150, 200, 250',
                                    height: logo_height,
                                    width: logo_width,
                                    alt: logo_alt
                            }}
                        {% else %}
                            <span class="h2">{{ shop.name }}</span>
                        {% endif %}
                    </a>
                </h1>
            {% endif %}

            <div class="main-password__message-block">
                {% if header %}
                    <h2>{{ header | escape }}</h2>
                {% endif %}

                {% if message %}
                    <h3>{{ message | escape }}</h3>
                {% endif %}

                {% unless shop.password_message == blank %}
                    {{ shop.password_message }}
                {% endunless %}
            </div>

            <div class="main-password__form">
                {% form 'storefront_password' %}
                    {%- if form.errors -%}
                        <div class="form-error form__error-heading form__message">
                            <h2 class="form-status error-message" tabindex="-1" autofocus>
                                <span class="visually-hidden">{{ 'accessibility.error' | t }} </span>
                                {% render 'icon-error' %}
                                {{ form.errors | default_errors }}
                            </h2>
                        </div>
                    {%- endif -%}
                    <label class="password" for="password">{{ password_label | escape }}</label>
                    <input
                        type="password"
                        name="password"
                        placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                    >
                    <button class="btn" type="submit">{{ 'general.password_page.login_form_submit' | t }}</button>
                {% endform %}
            </div>

            {% if countdown_timer %}
                <div
                    class="main-password__countdown_block"
                    data-day="{{ date_day }}"
                    data-month="{{ date_month }}"
                    data-year="{{ date_year }}"
                >
                    <div id="flipdown" class="flipdown"></div>
                </div>
            {% endif %}

            {% if newslatter_form %}
                <div class="main-password__newslatter_form">
                    {% form 'customer', id: 'ContactNewsletterPopup', class: 'newsletter__form js-newsletter-form' %}
                        <input
                            type="hidden"
                            name="contact[tags]"
                            value="newsletter"
                        >
                        <input type="hidden" name="challenge" value="false">

                        {% capture newsletter_button %}
                            <button
                            type="submit"
                            class="newsletter__button"
                            name="commit"
                            aria-label="{{ 'sections.newsletter.button' | t }}">
                            {% render 'icons-svg', icons: 'arrow-right' %}
                            </button>
                        {% endcapture %}

                        {% liquid
                            assign input_id = 'NewsletterForm--' | append: section.id
                            assign input_label = 'sections.newsletter.label' | t
                            assign input_placeholder = 'sections.newsletter.placeholder' | t

                            render 'input', mod_input_id: input_id, mod_input_name: 'contact[email]', mod_value: form.email, mod_input_type: 'email', mod_input_label: input_label, mod_form: true, mod_input_placeholder: input_placeholder, mod_is_required: true, mod_autocomplete: 'email', mod_custom_html: newsletter_button, mod_custom_input_classes: 'js-newsletter-email'

                            if form.errors
                                assign error_message = form.errors.translated_fields.email | capitalize | append: '&nbsp' | append: form.errors.messages.email
                                assign error_message_id = form.id | append: '-error'

                                render 'error-message', mod_message: error_message, mod_is_input: true, mod_id: error_message_id

                            elsif form.posted_successfully?
                                assign success_message_id = form.id | append: '-success'
                                assign form_success_message = 'sections.newsletter.success' | t

                                render 'success-message', mod_message: form_success_message, mod_id: success_message_id
                            endif
                        %}
                    {% endform %}
                </div>
            {% endif %}

            {% if social_menu %}
                <div class="social_memu">
                    {% render 'social-list' %}
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script src="{{ 'flipdown.min.js' | asset_url }}" defer="defer"></script>
<script type="text/javascript">
    // Выводим результат в консоль
        document.addEventListener('DOMContentLoaded', () => {
            const endTime = '{{ date_year }}/{{ date_month }}/{{ date_day }}'

            const total = Date.parse(endTime) - Date.parse(new Date())
            const days = Math.floor(total / (1000 * 60 * 60 * 24))
            const hours = Math.floor((total / (1000 * 60 * 60)) % 24)
            const minutes = Math.floor((total / 1000 / 60) % 60)
            const totalSeconds = (days * 24 * 60 * 60) + (hours * 60 * 60) + (minutes * 60);

            console.log(days)
            console.log(hours)
            console.log(minutes)

            var remainingTime = (new Date().getTime() / 1000) + totalSeconds;




            const flipdown = new FlipDown(remainingTime, {
                headings: ['{{ 'header.days' | t }}', '{{ 'header.hours' | t }}', '{{ 'header.minutes' | t }}', '{{ 'header.seconds' | t }}'],
            })
                .start()
                // Do something when the countdown ends
                .ifEnded(() => {
                    console.log('The countdown has ended!')
                })
        })
</script>

{% schema %}
{
    "name": "Password",
    "class": "section section-password",
    "settings": [
        {
            "type": "header",
            "content": "Coming soon page"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "range",
            "id": "logo_width",
            "min": 50,
            "max": 250,
            "step": 10,
            "default": 100,
            "unit": "px",
            "label": "Custom logo width"
        },
        {
            "type": "text",
            "id": "header",
            "label": "Page header",
            "default": "We are not ready yet"
        },
        {
            "type": "text",
            "id": "message",
            "label": "Text message",
            "default": "Our store will be available soon"
        },
        {
            "type": "image_picker",
            "id": "bg_image",
            "label": "Background image",
            "info": "For higher quality upload images wider than 2048 pixels"
        },
        {
            "type": "text",
            "id": "password_label",
            "label": "Password label",
            "default": "Enter store using password:"
        },
        {
            "type": "checkbox",
            "id": "newslatter_form",
            "label": "Show newslatter form"
        },
        {
            "type": "header",
            "content": "Countdown date"
        },
        {
            "type": "checkbox",
            "id": "countdown_timer",
            "label": "Show countdown timer"
        },
        {
            "type": "select",
            "id": "timer_date_day",
            "label": "Day",
            "options": [
                {
                    "value": "1",
                    "label": "1"
                },
                {
                    "value": "2",
                    "label": "2"
                },
                {
                    "value": "3",
                    "label": "3"
                },
                {
                    "value": "4",
                    "label": "4"
                },
                {
                    "value": "5",
                    "label": "5"
                },
                {
                    "value": "6",
                    "label": "6"
                },
                {
                    "value": "7",
                    "label": "7"
                },
                {
                    "value": "8",
                    "label": "8"
                },
                {
                    "value": "9",
                    "label": "9"
                },
                {
                    "value": "10",
                    "label": "10"
                },
                {
                    "value": "11",
                    "label": "11"
                },
                {
                    "value": "12",
                    "label": "12"
                },
                {
                    "value": "13",
                    "label": "13"
                },
                {
                    "value": "14",
                    "label": "14"
                },
                {
                    "value": "15",
                    "label": "15"
                },
                {
                    "value": "16",
                    "label": "16"
                },
                {
                    "value": "17",
                    "label": "17"
                },
                {
                    "value": "18",
                    "label": "18"
                },
                {
                    "value": "19",
                    "label": "19"
                },
                {
                    "value": "20",
                    "label": "20"
                },
                {
                    "value": "21",
                    "label": "21"
                },
                {
                    "value": "22",
                    "label": "22"
                },
                {
                    "value": "23",
                    "label": "23"
                },
                {
                    "value": "24",
                    "label": "24"
                },
                {
                    "value": "25",
                    "label": "25"
                },
                {
                    "value": "26",
                    "label": "26"
                },
                {
                    "value": "27",
                    "label": "27"
                },
                {
                    "value": "28",
                    "label": "28"
                },
                {
                    "value": "29",
                    "label": "29"
                },
                {
                    "value": "30",
                    "label": "30"
                },
                {
                    "value": "31",
                    "label": "31"
                }
            ]
        },
        {
            "type": "select",
            "id": "timer_date_month",
            "label": "Month",
            "options": [
                {
                    "value": "01",
                    "label": "January"
                },
                {
                    "value": "02",
                    "label": "February"
                },
                {
                    "value": "03",
                    "label": "March"
                },
                {
                    "value": "04",
                    "label": "April"
                },
                {
                    "value": "05",
                    "label": "May"
                },
                {
                    "value": "06",
                    "label": "June"
                },
                {
                    "value": "07",
                    "label": "July"
                },
                {
                    "value": "08",
                    "label": "August"
                },
                {
                    "value": "09",
                    "label": "September"
                },
                {
                    "value": "10",
                    "label": "October"
                },
                {
                    "value": "11",
                    "label": "November"
                },
                {
                    "value": "12",
                    "label": "December"
                }
            ]
        },
        {
            "type": "select",
            "id": "timer_date_year",
            "label": "Year",
            "options": [
                {
                    "value": "2023",
                    "label": "2023"
                },
                {
                    "value": "2024",
                    "label": "2024"
                },
                {
                    "value": "2025",
                    "label": "2025"
                },
                {
                    "value": "2026",
                    "label": "2026"
                },
                {
                    "value": "2027",
                    "label": "2027"
                },
                {
                    "value": "2028",
                    "label": "2028"
                },
                {
                    "value": "2029",
                    "label": "2029"
                },
                {
                    "value": "2031",
                    "label": "2031"
                },
                {
                    "value": "2032",
                    "label": "2032"
                }
            ]
        },
        {
            "type": "header",
            "content": "Social links"
        },
        {
            "type": "checkbox",
            "id": "social_menu",
            "label": "Show social menu"
        }
    ]
}
{% endschema %}
