{{ 'section-main-customer.css' | asset_url | stylesheet_tag }}

<div class="page-wrapper">
    {% render 'account-header', mod_header_class: 'h3', mod_screen_size: 'mobile' %}

    {% render 'account-nav',
        mod_header_class: 'h2',
        mod_links: linklists['my-account'].links,
        mod_active_page: 'orders'
    %}

    <div class="customer account account__main">
        {% render 'account-header', mod_header_class: 'h2', mod_screen_size: 'desktop' %}

        <div class="account__main__orders">
            <div class="account__edit">
                <h2 class="h3">{{ 'customer.account.details' | t }}</h2>
                {% if  customer.default_address %}
                <p class="account__edit--default"><strong>{{ 'customer.addresses.default' | t }}:</strong></p>
                {% endif %}
                <div class="account-page__address">
                {% for address in customer.addresses %}
                    {% if address == customer.default_address %}
                    <span>{{ address.street }}</span>
                    <span>{{ address.city }}{% if address.province_code %}, {{address.province_code}}</span> {% endif %}
                    <span>{{ address.country }}, {{address.zip}}</span>
                    <span>{{ address.phone }}</span>
                    {% endif %}
                {% endfor %}
                </div>
            
                <a class="edit" href="{{routes.account_addresses_url}}">{{ 'customer.account.edit' | t }}</a>
            </div>
            <h2 class="h3">{{ 'customer.orders.title' | t }}</h2>

            {% paginate customer.orders by 4 %}
                {%- if customer.orders.size > 0 -%}
                    <div
                        class="orders-list"
                        {%- if paginate.pages == 1 -%}
                            style="margin-bottom: 8.5rem"
                        {%- endif -%}
                    >
                        {%- for order in customer.orders -%}
                            <div class="orders-list__order">
                                <div class="order__content">
                                    <div class="order__details">
                                        <div class="order__data" data-label="{{ 'customer.orders.title' | t }}">
                                            <h3 class="utility">{{ 'customer.orders.title' | t }}</h3>
                                            <span class="h5">{{ order.name }}</span>
                                        </div>
                                        <div class="order__data" data-label="{{ 'customer.orders.date' | t }}">
                                            <h3 class="utility">{{ 'customer.orders.date' | t }}</h3>
                                            <span class="h5">{{ order.created_at | time_tag: format: 'date' }}</span>
                                        </div>
                                        <div class="order__data" data-label="{{ 'customer.orders.payment' | t }}">
                                            <h3 class="utility">{{ 'customer.orders.payment' | t }}</h3>
                                            <span class="h5">{{ order.financial_status_label }}</span>
                                        </div>
                                        <div
                                            class="order__data"
                                            data-label="{{ 'customer.orders.fulfillment_status' | t }}"
                                        >
                                            <h3 class="utility">{{ 'customer.orders.fulfillment_status' | t }}</h3>
                                            <span class="h5">{{ order.fulfillment_status_label }}</span>
                                        </div>
                                        <div class="order__data" data-label="{{ 'customer.orders.total' | t }}">
                                            <h3 class="utility">{{ 'customer.orders.total' | t }}</h3>
                                            <span class="h5">{{ order.total_price | money }}</span>
                                        </div>
                                    </div>

                                    <div class="order__product-images">
                                        {%- for item in order.line_items limit: 6 -%}
                                            <div class="order__product__image media">
                                                {% render 'image',
                                                    image_box: item.product.featured_image,
                                                    alt: item.product.featured_image.alt,
                                                    image_box_class: 'order__product--image',
                                                    width: 180,
                                                    height: 240
                                                %}
                                            </div>
                                        {%- endfor -%}
                                    </div>
                                </div>

                                <div class="order__cta">
                                    <div class="order__view-button">
                                        <a
                                            href="{{ order.customer_url }}"
                                            class="button button--link"
                                            aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}"
                                        >
                                            {{ 'customer.orders.view_cta' | t }}
                                        </a>
                                    </div>

                                    <div class="order__product-count">
                                        <span>
                                            {{ order.subtotal_line_items.size }}
                                            {%- if order.subtotal_line_items.size > 1 -%}
                                                {{ 'customer.orders.item_count' | t }}
                                            {%- else -%}
                                                {{ 'customer.orders.single_item' | t }}
                                            {%- endif -%}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        {%- endfor -%}
                    </div>
                {%- else -%}
                    <p>{{ 'customer.orders.none' | t }}</p>
                {%- endif -%}

                {%- if paginate.pages > 1 and paginate.parts.size > 0 -%}
                    <nav
                        class="pagination{% if paginate.previous and paginate.next %} paginate--spaced{% endif %}"
                        role="navigation"
                        aria-label="{{ 'general.pagination.label' | t }}"
                    >
                        {%- if paginate.previous -%}
                            <a href="{{ paginate.previous.url }}" class="button paginate__button--prev">
                                {{ 'general.pagination.previous' | t }}
                            </a>
                        {%- endif -%}

                        {%- if paginate.next -%}
                            <a href="{{ paginate.next.url }}" class="button paginate__button--next">
                                {{ 'general.pagination.next' | t }}
                            </a>
                        {%- endif -%}
                    </nav>
                {%- endif -%}
            {% endpaginate %}
        </div>
    </div>
</div>
