{%- liquid
    assign show = section.settings.show
    assign background_color = section.settings.background_color
    assign text_color = section.settings.text_color
    assign link_color = section.settings.link_color
    assign image = section.settings.image
    assign img_size = section.settings.img_size
    assign title = section.settings.title
    assign text = section.settings.text
    assign info = section.settings.info
    assign delay = section.settings.delay
    assign text_alignment = section.settings.text_alignment
%}

{%- capture styles -%}
  --newsletter-popup-background-color: {{- background_color -}};
  --newsletter-popup-text-color: {{- text_color -}};
  --newsletter-popup-link-color: {{ link_color }};
{%- endcapture -%}

{%- assign styles = styles | strip_newlines -%}

{{ 'section-newsletter-popup.css' | asset_url | stylesheet_tag }}

{% if show and title != blank %}
    <promo-popup>
        <div
            role="dialog"
            aria-labelledby="newsletterPopupTitle"
            aria-describedby="newsletterPopupDesc"
            style="{{- styles -}}"
            data-delay="{{- delay -}}"
            data-name="newsletterPromoPopup"
            class="newsletter-popup js-promo-popup text-alignment--{{ text_alignment }}"
        >
            <div class="newsletter-popup__wrapper js-promo-popup-wrapper">
                <button class="newsletter-popup__close js-promo-popup-close">
                    {% render 'icons-svg', icons: 'close' %}
                </button>
                {% if image %}
                    <div class="newsletter-popup__media-wrapper">
                        <picture class="newsletter-popup__media media media__size--{{ img_size }}">
                            {% render 'image', image_box: image, image_box_class: 'newsletter-popup__image' %}
                        </picture>
                    </div>
                {% endif %}
                {% if title != blank %}
                    <h2 id="newsletterPopupTitle" class="newsletter-popup__title">
                        {{- title -}}
                    </h2>
                {% endif %}

                {% if text != blank %}
                    <p id="newsletterPopupDesc" class="newsletter-popup__text">
                        {{- text -}}
                    </p>
                {% endif %}
                {% form 'customer', id: 'ContactNewsletterPopup', class: 'newsletter-popup__form js-newsletter-form' %}
                    <input
                        type="hidden"
                        name="contact[tags]"
                        value="newsletter"
                    >
                    <input type="hidden" name="challenge" value="false">

                    {% capture newsletter_button %}
                        <button
                        type="submit"
                        class="newsletter-popup__button"
                        name="commit"
                        aria-label="{{ 'sections.newsletter.button' | t }}">
                        {% render 'icons-svg', icons: 'arrow-right' %}
                        </button>
                    {% endcapture %}

                    {% liquid
                        assign input_id = 'NewsletterForm--' | append: section.id
                        assign input_label = 'sections.newsletter.label' | t
                        assign input_placeholder = 'sections.newsletter.placeholder' | t

                        render 'input', mod_input_id: input_id, mod_input_name: 'contact[email]', mod_value: form.email, mod_input_type: 'email', mod_input_label: input_label, mod_form: true, mod_input_placeholder: input_placeholder, mod_is_required: true, mod_autocomplete: 'email', mod_custom_html: newsletter_button, mod_custom_input_classes: 'js-newsletter-email'

                        if form.errors
                            assign error_message = form.errors.translated_fields.email | capitalize | append: '&nbsp' | append: form.errors.messages.email
                            assign error_message_id = form.id | append: '-error'

                            render 'error-message', mod_message: error_message, mod_is_input: true, mod_id: error_message_id

                        elsif form.posted_successfully?
                            assign success_message_id = form.id | append: '-success'
                            assign form_success_message = 'sections.newsletter.success' | t

                            render 'success-message', mod_message: form_success_message, mod_id: success_message_id
                        endif
                    %}
                {% endform %}
                {% if info != blank %}
                    <p class="newsletter-popup__info">
                        {{ info }}
                    </p>
                {% endif %}
            </div>
        </div>
    </promo-popup>
{% endif %}

{% schema %}
{
    "name": "t:sections.newsletter-popup.name",
    "settings": [
        {
            "type": "checkbox",
            "id": "show",
            "default": true,
            "label": "t:sections.newsletter-popup.settings.show.label"
        },
        {
            "type": "color",
            "id": "background_color",
            "label": "t:sections.newsletter-popup.settings.background_color.label"
        },
        {
            "type": "color",
            "id": "text_color",
            "label": "t:sections.newsletter-popup.settings.text_color.label"
        },
        {
            "type": "color",
            "id": "link_color",
            "label": "t:sections.newsletter-popup.settings.link_color.label"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.newsletter-popup.settings.image.label"
        },
        {
            "type": "select",
            "id": "img_size",
            "label": "Image size",
            "options": [
                {
                    "value": "cropped",
                    "label": "Cropped"
                },
                {
                    "value": "landscape",
                    "label": "Landscape"
                },
                {
                    "value": "square",
                    "label": "Square"
                },
                {
                    "value": "portrait",
                    "label": "Portrait"
                },
                {
                    "value": "circle",
                    "label": "Circle"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "t:sections.newsletter-popup.settings.title.label"
        },
        {
            "type": "textarea",
            "id": "text",
            "label": "t:sections.newsletter-popup.settings.text.label"
        },
        {
            "type": "text",
            "id": "info",
            "label": "t:sections.newsletter-popup.settings.info.label"
        },
        {
            "type": "select",
            "id": "text_alignment",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "center",
                    "label": "Center"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "center",
            "label": "Text alignment"
        },
        {
            "type": "text",
            "id": "delay",
            "default": "2",
            "info": "t:sections.newsletter-popup.settings.delay.info",
            "label": "t:sections.newsletter-popup.settings.delay.label"
        }
    ]
}
{% endschema %}
